<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>500错误页面</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
</head>
<body>
<div class="error_box aligncenter">
    <p><img src="../img/500.jpg"/></p>
    <p class="font26 color-3 mart30 marl30">哎呀，您访问的页面出故障了. . .</p>
    <p class="mart50">
        <a href="#"><i class="Icon ico-back"></i>返回上一页</a>
        <a href="#"><i class="Icon ico-index"></i>网站首页</a>
    </p>
    <p class="font16 color-a p-top40">明道提醒您：您可能输入了错误的网址，或者该网页已被删除或者移动</p>
</div>
</body>
</html>