<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>填写申请</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/5.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header" style="top: -40px;">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;" class="current"><i class="Icon ico-Collect"></i>常用表单</a>
            <a href="javascript:;"><i class="Icon ico-Finance"></i>财务类</a>
            <a href="javascript:;"><i class="Icon ico-Admin"></i>行政类</a>
            <a href="javascript:;"><i class="Icon ico-material"></i>市场类</a>
            <a href="javascript:;"><i class="Icon ico-Other"></i>其他</a>
            <a href="javascript:;"><i class="Icon ico-Stop"></i>停用表单</a>
        </div>
        <!--二级菜单over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix" style="bottom:-60px;">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--填写内容begin-->
        <div class="form_edit_box">
            <div class="form_in">
                <ul class="form_top aligncenter clearfix">
                    <li class="current">
                        <span class="block form_logo floatleft aligncenter">
                            <em class="icon-3"></em>
                            <img src="../img/bg4.jpg">
                        </span>
                        1. 填写表单
                        <i class="Icon ico-right"></i>
                    </li>
                    <li>2. 选择流程<i class="Icon ico-left"></i></li>
                </ul>
                <!--表单详情begin-->
                <div class="jscroll">
                    <div class="form-main">
                        <p class="font18 aligncenter">报销申请</p>
                        <div class="form-edit mart45">
                            <table class="form-top">
                                <tr>
                                    <th>申请人</th>
                                    <td style="width:219px;">
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="请输入角色名称...">
                                            <label class="tips">每月</label>
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                    <th>申请日期</th>
                                    <td style="width:219px;">
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="请输入日期...">
                                            <label class="control-label">提示信息</label>
                                            <a href="javascript:;" class="Icon ico-clander"></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th>申请部门</th>
                                    <td style="width:219px;">
                                        <div class="search ie-css3"><!--此处加current 展开搜索提示框-->
                                            <input type="text" placeholder="搜索">
                                            <button><i class="Icon ico-ser"></i></button>
                                            <!--搜索结果begin-->
                                            <div class="ser_Results ie-css3">
                                                <ul>
                                                    <li>符合业界规范的运</li>
                                                    <li>符合业界规范的运</li>
                                                    <li>符合业界规范的运</li>
                                                    <li>符合业界规范的运</li>
                                                </ul>
                                            </div>
                                            <!--搜索结果over-->
                                        </div>
                                    </td>
                                    <th>支付方式</th>
                                    <td style="width:219px;">
                                        <select class="int">
                                            <option>现金支付</option>
                                            <option>银行转账</option>
                                            <option>支票</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th>收款方</th>
                                    <td colspan="3">
                                        <div class="has-general has-error">
                                            <input type="text" class="int" placeholder="请输入角色名称...">
                                            <label class="tips">每月</label>
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th>人物性别</th>
                                    <td style="width:219px;">
                                        <label><input type="radio" name="qb" value=""/>男</label>
                                        <label><input type="radio" name="qb" value=""/>女</label>
                                    </td>
                                    <th>多选择</th>
                                    <td style="width:219px;">
                                        <label><input type="checkbox" name="a">选项1</label>
                                        <label><input type="checkbox" name="a">选项2</label>
                                        <label><input type="checkbox" name="a">选项3</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th>加班时间</th>
                                    <td  style="width:219px;">
                                       <select class="int width-80">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                       </select>
                                       <span>:</span>
                                       <select class="int width-80">
                                            <option>00</option>
                                            <option>01</option>
                                            <option>02</option>
                                       </select>
                                    </td>
                                    <th>费用类型</th>
                                    <td style="width:219px;">
                                        <select class="int">
                                            <option>行政费用</option>
                                            <option>财务费用</option>
                                            <option>交通费用</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th>报销金额</th>
                                    <td  style="width:219px;"><span>1000,000</span></td>
                                    <th>金额大写</th>
                                    <td style="width:219px;"><span>壹仟元</span></td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th style="vertical-align: top">上传附件</th>
                                    <td colspan="3">
                                        <div><a href="#" class="add"><i class="Icon ico-acc"></i> 添加附件</a></div>
                                        <div class="mart10 p-bt10" style="display: block;">
                                            <ul class="acc_list noborder nopadding clearfix">
                                                <li>
                                                    <a href="javascript:;" class="Icon ico-delete4"></a>
                                                    <div class="block ie-css3"><p><img src="../img/fu_bmp.gif"/></p></div>
                                                    <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="Icon ico-delete4"></a>
                                                    <div class="block ie-css3">
                                                        <p><img src="../img/ico.png"/></p>
                                                        <span class="mask" style="height:50%"><em>20%</em></span>
                                                    </div>
                                                    <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="form-top">
                                <tr>
                                    <th style="vertical-align: top">备注</th>
                                    <td colspan="3">
                                        <div class="textarea has-general">
                                            <textarea class="int" placeholder="请输入备注..."></textarea>
                                            <label class="control-label">提示信息</label>
                                            <span>你还可以输入<em>140</em>个字</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p class="font18 mart50 aligncenter">明细信息</p>
                        <table class="form-txt mart20">
                            <thead>
                                <tr>
                                    <th class="width-40">编号</th>
                                    <th class="width-120">列一</th>
                                    <th class="width-120">列二</th>
                                    <th class="width-120">列三</th>
                                    <th class="width-120">列四</th>
                                    <th class="width-120">列五</th>
                                    <th class="width-40">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="请输入日期...">
                                            <label class="control-label">提示信息</label>
                                            <a href="javascript:;" class="Icon ico-clander"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                    <td class="aligncenter">
                                        <a href="javascript:;" class="add">删除</a>
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td colspan="4">-->
                                        <!--<div class="has-general">-->
                                            <!--<label class="tips tips_txt">备注：</label>-->
                                            <!--<div class="int int_txt" contenteditable="true"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td colspan="6" class="aligncenter nopadding"><a href="javascript:;"  class="add">添加一条明细</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="font18 mart50 aligncenter">评分</p>
                        <table class="form-txt score mart20">
                            <thead>
                                <tr>
                                    <th class="width-40">编号</th>
                                    <th class="width-120">指标描述</th>
                                    <th>指标类型</th>
                                    <th class="width-120">得分</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>类型一</td>
                                    <td>
                                        <ul class="score-list">
                                            <li>1. 很好</li>
                                            <li>2. 一般</li>
                                            <li>3. 不好</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="has-general">
                                            <input type="text" class="int" placeholder="">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>类型二</td>
                                    <td>
                                        <ul class="score-list">
                                            <li>1. 很好</li>
                                            <li>2. 一般</li>
                                            <li>3. 不好</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <p class="mart5"><label><input type="radio"> A</label></p>
                                        <p class="mart5"><label><input type="radio"> B</label></p>
                                        <p class="mart5"><label><input type="radio"> C</label></p>
                                        <p class="mart5"><label><input type="radio"> D</label></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>类型三</td>
                                    <td>
                                        <ul class="score-list">
                                            <li>1. 很好</li>
                                            <li>2. 一般</li>
                                            <li>3. 不好</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="has-general has-error">
                                            <textarea style="height:50px;"></textarea>
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot><tr><th colspan="4"><span class="floatright">总计：3分</span></th></tr></tfoot>
                        </table>
                    </div>
                </div>
                <!--表单详情over-->
                <div class="form_bottom aligncenter">
                    <a href="javascript:;" class="Btn">下一步</a>
                </div>
            </div>
        </div>
        <!--填写内容over-->
        <!--遮罩层begin-->
        <div class="mask" style="display: none;">
            <!--<span class="loading"><img src="../img/loading.gif"/></span>-->
            <!--正在发送begin-->
            <div class="loading sending aligncenter">
                <p><img src="../img/send.gif"></p>
            </div>
            <!--正在发送over-->
        </div>
        <!--遮罩层over-->
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>