<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>填写申请-自定义流程</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header" style="display:none ">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;" class="current"><i class="Icon ico-Collect"></i>常用表单</a>
            <a href="javascript:;"><i class="Icon ico-Finance"></i>财务类</a>
            <a href="javascript:;"><i class="Icon ico-Admin"></i>行政类</a>
            <a href="javascript:;"><i class="Icon ico-material"></i>市场类</a>
            <a href="javascript:;"><i class="Icon ico-Other"></i>其他</a>
            <a href="javascript:;"><i class="Icon ico-Stop"></i>停用表单</a>
        </div>
        <!--二级菜单over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix" style="display:none ">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--填写内容begin-->
        <div class="form_edit_box">
            <div class="form_in">
                <ul class="form_top aligncenter clearfix">
                    <li>
                        <span class="block form_logo floatleft aligncenter">
                            <em class="icon-3"></em>
                            <img src="../img/bg4.jpg">
                        </span>
                        1. 填写表单
                        <i class="Icon ico-right"></i>
                    </li>
                    <li class="current">2. 选择流程<i class="Icon ico-left"></i></li>
                </ul>
                <!--表单详情begin-->
                <div class="jscroll">
                    <div class="form-main">
                        <p class="font18 aligncenter">报销申请</p>
                        <div class="process_choose mart30 p-top10 clearfix">
                            <div class="process_left marl20 floatleft" style="width:45%;">
                                <p class="font14 color-3 mart30">自定义流程明细 :</p>
                                <div class="mart20">
                                    <ul class="process_li">
                                        <li class="clearfix">
                                            <span class="floatleft">1.</span>
                                            <div class="has-general has-error floatleft width-140">
                                                <input type="text" class="int" readonly placeholder="请输入角色名称...">
                                            </div>
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">2.</span>
                                            <div class="has-general floatleft width-140">
                                                <input type="text" class="int" readonly placeholder="请输入角色名称...">
                                            </div>
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">3.</span>
                                            <div class="has-general floatleft width-140">
                                                <input type="text" class="int" readonly placeholder="请输入角色名称...">
                                            </div>
                                            <a href="javascript:;" title="添加审批人"><i class="Icon ico-p-add"></i></a>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">4.</span>
                                            <span class="floatleft">刘德华</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="process_right floatright">
                                <div class="font14 color-3 mart30">添加执行人 :</div>
                                <ul class="process_li mart20">
                                    <li class="clearfix">
                                        <div class="has-general has-error floatleft width-140">
                                            <input type="text" class="int" placeholder="请输入角色名称...">
                                            <label class="control-label">审批角色名称不能为空</label>
                                        </div>
                                        <a href="javascript:;" title="替换执行人"><i class="Icon ico-refresh"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--表单详情over-->
                <div class="form_bottom aligncenter">
                    <a href="javascript:;" class="Btn Btn-commit">保存自定义流程</a>
                </div>
            </div>
        </div>
        <!--主要内容over-->
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>