<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>填写申请-选择流程</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header" style="display:none ">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;" class="current"><i class="Icon ico-Collect"></i>常用表单</a>
            <a href="javascript:;"><i class="Icon ico-Finance"></i>财务类</a>
            <a href="javascript:;"><i class="Icon ico-Admin"></i>行政类</a>
            <a href="javascript:;"><i class="Icon ico-material"></i>市场类</a>
            <a href="javascript:;"><i class="Icon ico-Other"></i>其他</a>
            <a href="javascript:;"><i class="Icon ico-Stop"></i>停用表单</a>
        </div>
        <!--二级菜单over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix" style="display:none ">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--填写内容begin-->
        <div class="form_edit_box">
            <div class="form_in">
                <ul class="form_top aligncenter clearfix">
                    <li>
                        <span class="block form_logo floatleft aligncenter">
                            <em class="icon-3"></em>
                            <img src="../img/bg4.jpg">
                        </span>
                        1. 填写表单
                        <i class="Icon ico-right"></i>
                    </li>
                    <li class="current">2. 选择流程<i class="Icon ico-left"></i></li>
                </ul>
                <!--表单详情begin-->
                <div class="jscroll">
                    <div class="form-main">
                        <p class="font18 aligncenter">报销申请</p>
                        <div class="process_choose mart30 p-top10 clearfix">
                            <div class="process_left floatleft">
                                <div class="search ie-css3 select width-auto marr10 mart10"><!--加 current，显示下拉列表框-->
                                    <span class="Choosed">选择报销申请标准流程</span>
                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                    <!--搜索结果begin-->
                                    <div class="ser_Results ie-css3">
                                        <ul>
                                            <li>选择报销申请标准流程</li>
                                            <li>选择报销申请标准流程</li>
                                            <li>选择报销申请标准流程</li>
                                        </ul>
                                    </div>
                                    <!--搜索结果over-->
                                </div>
                                <p class="font14 color-3 mart30">流程明细 :</p>
                                <div class="mart20">
                                    <ul class="process_li">
                                        <li class="clearfix">
                                            <span class="floatleft">1.</span>
                                            <span class="UserImg  inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span class="">刘德华</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">2.</span>
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span class="">刘德华</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">3.</span>
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span class="">刘德华</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="floatleft">4.</span>
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span class="">刘德华</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="font14 color-3 mart30">
                                    <p>执行人 :</p>
                                    <ul class="process_li mart20 marl20">
                                        <li class="clearfix">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span class="">刘德华</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="process_right floatleft marl30">
                                <p class="font14 color-3 p-top10 p-bt20">推送设置</p>
                                <p class="mart10"><span class="check checked"><i class="Icon ico-check marr10"></i>置顶在TA的待审列表中</span></p>
                                <p class="mart10"><span class="check"><i class="Icon ico-check marr10"></i>经办完成后请通知我确认</span></p>
                                <!--<p class="mart10"><span class="check"><i class="Icon ico-check marr10"></i>超过24小时开启提醒</span></p>-->
                                <p class="mart10 marl25">
                                    <span class="radio checked"><i class="Icon ico-check"></i>自动</span>
                                    <span class="radio marl10"><i class="Icon ico-check"></i>手动</span>
                                </p>
                                <!--添加转阅begin-->
                                <p class="font14 color-3 mart30 p-bt20">选择转阅成员</p>
                                <div class="turn_box" style="width: 240px;">
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                        <!--提示框begin-->
                                        <div class="prompt_box" style="left:-85px;">
                                            <span class="Icon prompt_top"></span>
                                            <div class="prompt_main">
                                                <div class="prompt_title clearfix alignright">
                                                    <div class="floatleft">
                                                         <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                         <span>张睿</span>
                                                    </div>
                                                </div>
                                                <div class="marl10 color-6 mart10">
                                                    <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                                    <p>北京研发中心</p>
                                                    <p>产品经理</p>
                                                </div>
                                                <p><a href="#" class="Btn current marl10 mart5 btn-make">从列表中移除</a></p>
                                            </div>
                                            <span class="Icon prompt_bt"></span>
                                        </div>
                                        <!--提示框over-->
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>

                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative inlineblock">
                                        <span class="UserImg inlineblock ie-css3" title="添加转阅成员"></span>
                                    </div>
                                </div>
                                <!--添加转阅over-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--表单详情over-->
                <div class="form_bottom aligncenter">
                    <a href="javascript:;" class="Btn">上一步</a>
                    <a href="javascript:;" class="Btn Btn-commit">提交申请</a>
                </div>
            </div>
        </div>
        <!--主要内容over-->
        <!--遮罩层begin-->
        <div class="mask" style="display: none;">
            <!--<span class="loading"><img src="../img/loading.gif"/></span>-->
            <!--正在发送begin-->
            <div class="loading sending aligncenter">
                <p><img src="../img/send.gif"></p>
            </div>
            <!--正在发送over-->
        </div>
        <!--遮罩层over-->
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>