<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LA home</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="nobg">
<!--主要内容begin-->
<div class="content">
    <div class="main nopadding" style="height: 100%;">
        <!--左侧begin-->
        <div class="form_left floatleft">
            <div class="form_inner">
                <div class="form_main">
                    <p class="font18 p-top20 aligncenter">标 题</p>
                    <table class="form_tab mart20">
                        <tr>
                            <td colspan="2">
                                <div class="td_inner">
                                    <div class="Icon ico-all" style="display: block;">
                                        <a href="javascript:;"><i class="Icon ico-up" title="上移一行"></i></a>
                                        <a href="javascript:;"><i class="Icon ico-down2 mart15" title="下移一行"></i></a>
                                        <em></em>
                                    </div>
                                    <p class="font12">选择你最认为正确的选项</p>
                                    <div class="block options">
                                        <p class="has_two">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认为正确的选项选择你最认择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p class="has_three">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">dewqrwrw34正确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p class="has_four">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认57858689690690确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p><label class="txt_hidden"><input type="radio" name="qb" value="">选项三</label></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="font12">公司<em>（只读）</em></span>
                                    <span>明道北京研发中心</span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <div class="mask_in"></div>
                                    <span class="font12">报销金额</span>
                                    <span><input class="int" type="text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">下拉选择</span>
                                    <span>
                                        <select class="int">
                                            <option>行政费用</option>
                                            <option>财务费用</option>
                                            <option>交通费用</option>
                                        </select>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="font12">选择省市</span>
                                    <span class="div">
                                        <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                            <span class="Choosed">省份</span>
                                            <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                            <!--下拉选项begin-->
                                            <div class="ser_Results ie-css3">
                                                <ul>
                                                    <li>河北</li>
                                                    <li>天津</li>
                                                    <li>北京</li>
                                                    <li>河南</li>
                                                </ul>
                                            </div>
                                            <!--下拉选项over-->
                                        </div>
                                    </span>
                                    <span class="div">
                                        <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                            <span class="Choosed">城市</span>
                                            <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                            <!--下拉选项begin-->
                                            <div class="ser_Results ie-css3">
                                                <ul>
                                                    <li>石家庄</li>
                                                    <li>驻马店</li>
                                                    <li>正定</li>
                                                    <li>荷兰</li>
                                                </ul>
                                            </div>
                                            <!--下拉选项over-->
                                        </div>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td colspan="2">
                                <div class="td_inner">
                                    <div class="mask_in"></div>
                                    <span class="font12">文本域</span>
                                    <span>
                                        <textarea class="int inlineblock"></textarea>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                         <tr>
                             <td>
                                 <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="block">
                                        <table class="Column">
                                            <thead>
                                                <tr>
                                                    <th  colspan="6" class="aligncenter strong font14">四列</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <th class="width-40"><span class="font12">编号</span></th>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <th class="width-40"><span class="font12">操作</span></th>
                                            </tr>
                                            <tr>
                                                <th class="width-40">1</th>
                                                <td>
                                                    <div class="mask_in"></div>
                                                    <input class="int" type="text">
                                                </td>
                                                <td>
                                                    <div class="search ie-css3 select"><!--加 current，显示下拉列表框-->
                                                        <span class="Choosed">省份</span>
                                                        <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="has-general inlineblock">
                                                         <input type="text" class="int">
                                                         <a class="Icon ico-clander" href="javascript:;"></a>
                                                    </div>
                                                </td>
                                                <td><input class="int" type="text"></td>
                                                <th class="width-40"><i class="Icon ico-p-add"></i></th>
                                            </tr>
                                            <tr>
                                                <th>备注</th>
                                                <td colspan="5" class="alignleft"><textarea class="int inlineblock"></textarea></td>
                                            </tr>
                                        </table>
                                    </span>
                                 </div>
                             </td>
                         </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="block">
                                        <table class="Column">
                                            <thead>
                                                <tr>
                                                    <th colspan="3" class="aligncenter strong font14">
                                                       <div class="td_inner">
                                                            <span class="font12">评分指标</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="width-80">
                                                    <div class="td_inner">
                                                        <span class="font12">评分指标</span>
                                                        <span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td_inner">
                                                        <span class="font12">指标描述</span>
                                                    </div>
                                                </td>
                                                <td class="width-40">
                                                    <div class="td_inner">
                                                        <span class="font12">得分</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <span class="font12">报销金额</span>
                                    <span><input class="int" type="text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                    <span class="font12">日期选择</span>
                                    <div class="has-general inlineblock">
                                         <input type="text" class="int">
                                         <a class="Icon ico-clander" href="javascript:;"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                    <span class="font12">上传附件</span>
                                    <span><a href="#" class="add"><i class="Icon ico-acc"></i> 添加附件</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td><p class="color-a aligncenter">拖动控件到此出</p></td>
                            <td>
                                <div class="td_inner"><p class="aligncenter Out_here">不能拖动到此处</p></div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <table class="Column">
                                        <thead><tr><th colspan="5" class="aligncenter strong font14">5列</th></tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab form_tab_last">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p class="mart20 p-bt20 aligncenter"><a href="#" class="add">+ 添加一行</a></p>
                </div>
            </div>
        </div>
        <!--左侧over-->
        <!--右侧begin-->
        <div class="form_right inlineblock">
            <div class="nav nav_50 clearfix">
                <a href="#">我的模板</a>
                <a href="#" class="current">预设模板</a>
            </div>
            <div class="module_out">
                <!--我的模板begin-->
                <div class="module_box p-top10" style="display:;">
                    <div class="module mart20">
                        <div class="mart15">
                            <ul class="module_list marr20">
                                <li class="current">出差申请</li>
                                <li>请假申请</li>
                                <li>报销申请</li>
                                <li>员工考核</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--我的模板over-->
                <!--预设模板begin-->
                <div class="module_box" style="display:none;">
                    <div class="module mart20">
                        <div class="mart15">
                            <ul class="module_list marr20">
                                <li class="current">出差申请</li>
                                <li>请假申请</li>
                                <li>报销申请</li>
                                <li>员工考核</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--预设模板over-->
            </div>
        </div>
        <!--右侧over-->
    </div>
</div>
<!--主要内容over-->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
</body>
</html>