<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LA home</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="nobg">
<!--主要内容begin-->
<div class="content">
    <div class="main nopadding" style="height: 100%;">
        <!--左侧begin-->
        <div class="form_left floatleft">
            <div class="form_inner">
                <div class="form_main">
                    <p class="font18 p-top20 aligncenter">标 题</p>
                    <table class="form_tab mart20">
                        <tr>
                            <td colspan="2">
                                <div class="td_inner">
                                    <div class="Icon ico-all" style="display: block;">
                                        <a href="javascript:;"><i class="Icon ico-up" title="上移一行"></i></a>
                                        <a href="javascript:;"><i class="Icon ico-down2 mart15" title="下移一行"></i></a>
                                        <em></em>
                                    </div>
                                    <p class="font12">选择你最认为正确的选项</p>
                                    <div class="block options">
                                        <p class="has_two">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认为正确的选项选择你最认择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p class="has_three">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">dewqrwrw34正确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p class="has_four">
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认57858689690690确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                            <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                        </p>
                                        <p><label class="txt_hidden"><input type="radio" name="qb" value="">选项三</label></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="font12">公司<em>（只读）</em></span>
                                    <span>明道北京研发中心</span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <div class="mask_in"></div>
                                    <span class="font12">报销金额</span>
                                    <span><input class="int" type="text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">下拉选择</span>
                                    <span>
                                        <select class="int">
                                            <option>行政费用</option>
                                            <option>财务费用</option>
                                            <option>交通费用</option>
                                        </select>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="font12">选择省市</span>
                                    <span class="div">
                                        <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                            <span class="Choosed">省份</span>
                                            <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                            <!--下拉选项begin-->
                                            <div class="ser_Results ie-css3">
                                                <ul>
                                                    <li>河北</li>
                                                    <li>天津</li>
                                                    <li>北京</li>
                                                    <li>河南</li>
                                                </ul>
                                            </div>
                                            <!--下拉选项over-->
                                        </div>
                                    </span>
                                    <span class="div">
                                        <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                            <span class="Choosed">城市</span>
                                            <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                            <!--下拉选项begin-->
                                            <div class="ser_Results ie-css3">
                                                <ul>
                                                    <li>石家庄</li>
                                                    <li>驻马店</li>
                                                    <li>正定</li>
                                                    <li>荷兰</li>
                                                </ul>
                                            </div>
                                            <!--下拉选项over-->
                                        </div>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td colspan="2">
                                <div class="td_inner">
                                    <div class="mask_in"></div>
                                    <span class="font12">文本域</span>
                                    <span>
                                        <textarea class="int inlineblock"></textarea>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                         <tr>
                             <td>
                                 <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="block">
                                        <table class="Column">
                                            <thead>
                                                <tr>
                                                    <th  colspan="6" class="aligncenter strong font14">四列</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <th class="width-40"><span class="font12">编号</span></th>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <td><span class="font12">文本域</span></td>
                                                <th class="width-40"><span class="font12">操作</span></th>
                                            </tr>
                                            <tr>
                                                <th class="width-40">1</th>
                                                <td>
                                                    <div class="mask_in"></div>
                                                    <input class="int" type="text">
                                                </td>
                                                <td>
                                                    <div class="search ie-css3 select"><!--加 current，显示下拉列表框-->
                                                        <span class="Choosed">省份</span>
                                                        <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="has-general inlineblock">
                                                         <input type="text" class="int">
                                                         <a class="Icon ico-clander" href="javascript:;"></a>
                                                    </div>
                                                </td>
                                                <td><input class="int" type="text"></td>
                                                <th class="width-40"><i class="Icon ico-p-add"></i></th>
                                            </tr>
                                            <tr>
                                                <th>备注</th>
                                                <td colspan="5" class="alignleft"><textarea class="int inlineblock"></textarea></td>
                                            </tr>
                                        </table>
                                    </span>
                                 </div>
                             </td>
                         </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                    <span class="block">
                                        <table class="Column">
                                            <thead>
                                                <tr>
                                                    <th colspan="3" class="aligncenter strong font14">
                                                       <div class="td_inner">
                                                            <span class="font12">评分指标</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="width-80">
                                                    <div class="td_inner">
                                                        <span class="font12">评分指标</span>
                                                        <span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td_inner">
                                                        <span class="font12">指标描述</span>
                                                    </div>
                                                </td>
                                                <td class="width-40">
                                                    <div class="td_inner">
                                                        <span class="font12">得分</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <span class="font12">报销金额</span>
                                    <span><input class="int" type="text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                    <span class="font12">日期选择</span>
                                    <div class="has-general inlineblock">
                                         <input type="text" class="int">
                                         <a class="Icon ico-clander" href="javascript:;"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                    <span class="font12">上传附件</span>
                                    <span><a href="#" class="add"><i class="Icon ico-acc"></i> 添加附件</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td><p class="color-a aligncenter">拖动控件到此出</p></td>
                            <td>
                                <div class="td_inner"><p class="aligncenter Out_here">不能拖动到此处</p></div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <table class="Column">
                                        <thead><tr><th colspan="5" class="aligncenter strong font14">5列</th></tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                                <td>文本域</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="form_tab form_tab_last">
                        <tr>
                            <td>
                                <div class="td_inner">
                                    <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="td_inner">
                                    <span class="font12">单选框</span>
                                    <span>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                        <label><input type="radio" name="qb" value="">男</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p class="p-top40 aligncenter"></p>
                </div>
            </div>
        </div>
        <!--左侧over-->
        <!--右侧begin-->
        <div class="form_right inlineblock">
            <div class="nav clearfix">
                <a href="#">基本设置</a>
                <a href="#">添加组件</a>
                <a href="#" class="current">编辑组件</a>
            </div>
            <!--主要设置begin-->
            <div class="module_out">
                <!--主要设置over-->
                <!--基本设置begin-->
                <div class="module_box p-top10" style="display:;">
                    <!--<p class="color-8 p-top20">请先选择组件再进行编辑</p>-->
                    <div class="module mart20">
                        <p class="font14">必填项</p>
                        <div class="mart15">
                            <table class="normal_set" style="width:100%;">
                                <tr>
                                    <th class="width-40">图标</th>
                                    <td>
                                        <div class="Icon-box">
                                            <span class="icon-0"></span>
                                            <ul class="ico_list clearfix">
                                                <li><span class="icon-0"></span></li>
                                                <li><span class="icon-1"></span></li>
                                                <li><span class="icon-2"></span></li>
                                                <li><span class="icon-3"></span></li>
                                                <li><span class="icon-4"></span></li>
                                                <li><span class="icon-5"></span></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <th class="width-40">颜色</th>
                                    <td>
                                       <div class="Icon-box color">
                                            <span><img src="../img/bg0.jpg"></span>
                                            <ul class="ico_list clearfix">
                                                <li><img src="../img/bg0.jpg"></li>
                                                <li><img src="../img/bg1.jpg"></li>
                                                <li><img src="../img/bg2.jpg"></li>
                                                <li><img src="../img/bg3.jpg"></li>
                                                <li><img src="../img/bg4.jpg"></li>
                                                <li><img src="../img/bg5.jpg"></li>
                                                <li><img src="../img/bg6.jpg"></li>
                                                <li><img src="../img/bg7.jpg"></li>
                                                <li><img src="../img/bg8.jpg"></li>
                                                <li><img src="../img/bg9.jpg"></li>
                                            </ul>
                                       </div>
                                    </td>
                                    <th>预览</th>
                                    <td>
                                        <div class="Icon-box" style="vertical-align: middle;">
                                            <ul class="ico_list form_ico_show clearfix">
                                                <li>
                                                    <img src="../img/bg0.jpg">
                                                    <span class="icon-0"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>标题</th>
                                    <td colspan="5">
                                        <div class="has-general width-200">
                                            <input type="text" class="int" placeholder="最多输入6个字">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">编号起始缩写</th>
                                    <td colspan="4">
                                        <div class="has-general width-150">
                                            <input type="text" class="int">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>备注</th>
                                    <td colspan="5">
                                        <div class="has-general width-200">
                                            <input type="text" class="int">
                                            <label class="control-label">提示信息</label>
                                        </div>
                                        <a href="javascript:;" title="删除明细"><i class="Icon ico-p-add"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">单选设置</p>
                        <div class="mart15 marl10">
                            <span class="radio"><i class="Icon ico-check"></i>男</span>
                            <span class="radio marl20"><i class="Icon ico-check"></i>女</span>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">多选设置</p>
                        <div class="mart15 marl10">
                            <span class="check"><i class="Icon ico-check"></i>行政部门</span>
                            <span class="check"><i class="Icon ico-check"></i>行政部门</span>
                            <span class="check"><i class="Icon ico-check"></i>行政部门</span>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">省份设置</p>
                        <div class="mart15 marl10">
                           <select class="int width-80">
                                <option>北京</option>
                                <option>上海</option>
                                <option>河北</option>
                           </select>
                           <select class="int width-80 marl15">
                                <option>石家庄</option>
                                <option>上海</option>
                           </select>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">区间设置</p>
                        <div class="mart15 marl10">
                           <input type="text" class="int width-80">
                           <span>~</span>
                           <input type="text" class="int width-80">
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">允许后缀</p>
                        <div class="mart15 label_item marl10">
                            <label><input type="checkbox" name="permitPrefix" value="word">word</label>
                            <label><input type="checkbox" name="permitPrefix" value="gif">gif</label>
                            <label><input type="checkbox" name="permitPrefix" value="jpg">jpg</label>
                            <label><input type="checkbox" name="permitPrefix" value="jpeg">jpeg</label>
                            <label><input type="checkbox" name="permitPrefix" value="rar">rar</label>
                            <label><input type="checkbox" name="permitPrefix" value="pdf">pdf</label>
                            <label><input type="checkbox" name="permitPrefix" value="text">txt</label>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">数据格式</p>
                        <div class="mart15 marl10">
                           <input type="text" class="int width-160">
                           <select class="int width-80">
                                <option>验证格式</option>
                                <option>邮箱</option>
                                <option>手机号码</option>
                                <option>邮编</option>
                           </select>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14 strong">非必填项</p>
                        <div class="mart15 marl10">
                            <span>选择分类</span>
                            <select class="int marl10 width-184">
                                <option>行政费用</option>
                                <option>财务费用</option>
                                <option>交通费用</option>
                            </select>
                        </div>
                        <div class="mart20 marl10">
                            <div class="clearfix">
                                <span>加入群组</span>
                                <select class="int width-184 marl10">
                                    <option>行政费用</option>
                                    <option>财务费用</option>
                                    <option>交通费用</option>
                                </select>
                            </div>
                            <div>
                                <ul class="choosedlist clearfix mart10">
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--基本设置over-->
                <!--添加组件begin-->
                <div class="module_box" style="display:none;">
                    <div class="module mart20">
                        <p class="font14 alignright clearfix marr30">
                            <span class="font14 floatleft">互动组件</span>
                            <a href="javascript:;" class="add font12" id="Collapse">收起</a>
                        </p>
                        <ul class="module_li mart10">
                            <li class="cursor_none">文本输入</li>
                            <li>数字输入</li>
                            <li>日期选择</li>
                            <li>下拉列表</li>
                            <li>复选框</li>
                            <li>单选框</li>
                            <li>文本域</li>
                            <li>金额输入</li>
                            <li>选择时间</li>
                            <li>选择部门</li>
                            <li>搜索员工</li>
                            <li>评分指标</li>
                            <li>四列明细表</li>
                            <li>五列明细表</li>
                            <li>省份与城市</li>
                            <li>省份</li>
                            <li>日期区间</li>
                            <li>大写金额</li>
                        </ul>
                    </div>
                    <div class="module mart20">
                        <p class="font14 alignright clearfix marr30">
                            <span class="floatleft">只读组件</span>
                            <a href="javascript:;" class="add font12" id="Expand">展开</a>
                        </p>
                        <ul class="module_li mart10" style="display: none;">
                            <li>申请人</li>
                            <li>所属部门</li>
                            <li>职位</li>
                            <li>工作地点</li>
                            <li>公司</li>
                            <li>工作电话</li>
                            <li>移动电话</li>
                            <li>工号</li>
                            <li>申请日期</li>
                            <li>分割标签</li>
                        </ul>
                    </div>
                </div>
                <!--添加组件over-->
                <!--编辑组件begin-->
                <div class="module_box" style="display:none;">
                    <div class="module mart20">
                        <p class="font14">标题</p>
                        <p class="mart15 marl10"><input class="int" type="text"></p>
                    </div>
                    <div class="module mart20">
                        <p class="font14">描述文字<a href="#" class="add font12 marl10">+添加链接</a></p>
                        <p class="mart15 marl10"><textarea class="int"></textarea></p>
                    </div>
                    <div class="module mart20">
                        <p class="font14">必填设置</p>
                        <p class="mart15 marl10"><span class="check checked"><i class="Icon ico-check marr10"></i>这是一个必填项</span></p>
                    </div>
                    <div class="module mart20">
                        <p class="font14">单选选项设置</p>
                        <div class="mart15 marl10">
                            <span class="radio checked"><i class="Icon ico-check marr10"></i></span>
                            <div class="has-general has-error width-140">
                                <input type="text" class="int" placeholder="选项1">
                                <label class="control-label">提示信息</label>
                            </div>
                            <a href="javascript:;" title="添加审批人"><i class="Icon ico-p-minus"></i></a>
                        </div>
                        <div class="mart10 marl10">
                            <span class="radio"><i class="Icon ico-check marr10"></i></span>
                            <div class="has-general width-140">
                                <input type="text" class="int" placeholder="选项2">
                                <label class="control-label">提示信息</label>
                            </div>
                            <a href="javascript:;" title="添加审批人"><i class="Icon ico-p-minus"></i></a>
                        </div>
                        <div class="mart10 marl10">
                            <span class="radio"><i class="Icon ico-check marr10"></i></span>
                            <div class="has-general width-140">
                                <input type="text" class="int" placeholder="选项3">
                                <label class="control-label">提示信息</label>
                            </div>
                            <a href="javascript:;" title="添加审批人"><i class="Icon ico-p-minus"></i></a>
                            <a href="javascript:;" title="添加选项"><i class="Icon ico-p-add"></i></a>
                        </div>
                        <div class="jscroll marr10" style="height:80px;">
                            <ul class="choosedlist clearfix mart10">
                                <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">空间尺寸</p>
                        <p class="mart15 marl10">
                            <span class="radio checked"><i class="Icon ico-check marr10"></i>1列</span>
                            <span class="radio marl30"><i class="Icon ico-check marr10"></i>2列</span>
                        </p>
                    </div>
                    <div class="module mart20">
                        <p class="font14">数值范围</p>
                        <div class="mart15 marl10">
                            <div class="has-general width-80">
                                <input type="text" class="int">
                                <label class="control-label unit">元</label>
                            </div>
                            <span>~</span>
                            <div class="has-general width-80">
                                <input type="text" class="int">
                                <label class="control-label unit">元</label>
                            </div>
                        </div>
                    </div>
                    <div class="module mart20">
                        <p class="font14">验证格式</p>
                        <div id="select" class="search ie-css3 select mart10 width-200 current"><!--加 current，显示下拉列表框-->
                            <span class="Choosed">选择群组</span>
                            <span class="ico-select"><i class="Icon ico-upd"></i></span>
                            <div class="ser_Results ie-css3 groupList">
                                <div class="jscroll" style="width:190px;height:100px;">
                                    <ul>
                                        <li>任意格式</li>
                                        <li>电子邮件</li>
                                        <li>移动电话</li>
                                        <li>身份证</li>
                                        <li>任意格式</li>
                                        <li>电子邮件</li>
                                        <li>移动电话</li>
                                        <li>身份证</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--编辑组件over-->
            </div>
        </div>
        <!--右侧over-->
    </div>
</div>
<!--主要内容over-->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>