<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑流程</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header" style="top:-40px;">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;">进行中</a>
            <a href="javascript:;" class="current">已完成</a>
        </div>
        <!--二级菜单over-->
        <!--通知状态条begin-->
        <div class="message_box">
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
            <div class="message message_error"><p class="font14 color-white">提交失败！</p></div>
        </div>
        <!--通知状态条over-->
        <!--header over-->
        <!--创建表单页面的header begin-->
        <div class="top_header">
            <div class="top_nav aligncenter font14">
                <span>采购申请流程</span>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建流程</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">应用流程</a>
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出编辑</a>
            </div>
        </div>
        <!--创建表单页面的header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix" style="bottom:-60px;">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <iframe allowtransparency="true" allowtransparency="true" style="background-color=transparent" src="process.html" width="1000" height="850" frameborder="0" scrolling="no"></iframe>
            <!--iframe 的高度等于new_main 的高度，就是窗口高度减去上面90下面50的间距-->
        </div>
        <!--主要内容over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>