<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LA home</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/15.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-buy"></a>
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="font25 current"><span class="icon-home"></span></a>
                <a href="javascript:;" class="font22"><span class="icon-search"></span></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--header over-->
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;">进行中</a>
            <a href="javascript:;" class="current">已完成</a>
        </div>
        <!--二级菜单over-->
        <!--返回明道begin-->
        <ul class="back_md" style="display: ;">
            <li><a href="#">返回明道</a></li>
            <li><a href="#">安全登出</a></li>
        </ul>
        <!--返回明道over-->
        <!--换壁纸begin-->
        <div class="Wallpaper_box" style="display: none">
            <ul class="clearfix">
                <li><img src="../img/1.jpg"></li>
                <li><img src="../img/2.jpg"></li>
                <li><img src="../img/3.jpg"></li>
                <li><img src="../img/4.jpg"></li>
                <li><img src="../img/5.jpg"></li>
                <li><img src="../img/6.jpg"></li>
                <li><img src="../img/7.jpg"></li>
                <li><img src="../img/8.jpg"></li>
                <li><img src="../img/9.jpg"></li>
            </ul>
        </div>
        <!--换壁纸over-->
        <!--通知状态条begin-->
        <div class="message_box" style="display: none;">
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
            <div class="message message_error"><p class="font14 color-white">提交失败！</p></div>
        </div>
        <!--通知状态条over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b7"></i>
                <span class="block">统计分析</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b8"></i>
                <span class="block">数据关联</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main" style="display: ;">
            <!--首页卡片begin-->
            <div>
                <div class="top_board clearfix">
                    <div class="floatleft mart10">
                        <p class="marl10">我的申请</p>
                        <ul class="aligncenter">
                            <li class="current"><a href="javascript:;"><em class="Titillium">13</em>未通过</a></li>
                            <li class="nodate"><a href="javascript:;"><em class="Titillium">0</em>已通过</a></li>
                            <li><a href="javascript:;"><em class="Titillium">10</em>未读通知</a></li>
                        </ul>
                    </div>
                    <div class="floatright mart10">
                        <p class="marl10">关于我的</p>
                        <ul class="aligncenter">
                            <li><a href="javascript:;"><em class="Titillium">5</em>待审批</a></li>
                            <li class="nodate"><a href="javascript:;"><em class="Titillium">0</em>待经办</a></li>
                            <li><a href="javascript:;"><em class="Titillium">25</em>待确认</a></li>
                        </ul>
                    </div>
                </div>
                <!--卡片组begin-->
                <div class="card_out" style="height:370px;">
                		<a href="javascript:;" class="Icon ico-q"></a>
                    <div class="r_btn">
                        <a href="javascript:;" class="Icon ico-re"></a>
                        <a href="javascript:;" class="Icon ico-prev"></a>
                        <a href="javascript:;" class="Icon ico-next"></a>
                    </div>
                    <div class="card_box_in" style="top:0;"><!--控制 card_box_in 的 top 来实现上下滚动-->
                        <div class="card_box">
                            <ul class="card_list clearfix">
                                <li class="box card_theme1 animate">
                                    <div class="card_in">
                                        <span class="loading ie-css3"><img src="../img/loading.png"/></span>
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3 txt_hidden"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北明道北京研发中心京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme2">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme3">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme4">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme5">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme6">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--卡片组over-->
            </div>
            <!--首页卡片over-->
            <!--list begin-->
            <div class="list_main" style="display:none;">
                <div class="r_btn">
                    <a href="javascript:;" class="Icon ico-re"></a>
                    <a href="javascript:;" class="Icon ico-prev"></a>
                    <a href="javascript:;" class="Icon ico-next"></a>
                </div>
                <table class="list_table">
                    <thead>
                        <tr>
                            <th class="width-80">状态</th>
                            <th>申请单据</th>
                            <th class="width-140">审批人</th>
                            <th class="width-140">申请时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_1">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                    <!--提示框begin-->
                                    <div class="prompt_box">
                                        <span class="Icon prompt_top"></span>
                                        <div class="prompt_main">
                                            <div class="prompt_title clearfix alignright">
                                                <div class="floatleft">
                                                     <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                     <span>赵阳</span>
                                                </div>
                                                <span class="state s_over">已完成</span>
                                            </div>
                                            <div class="marl10 color-6 mart10">
                                                <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                                <p>北京研发中心</p>
                                                <p>产品经理</p>
                                            </div>
                                        </div>
                                        <span class="Icon prompt_bt"></span>
                                    </div>
                                    <!--提示框over-->
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>行走江湖</span>
                                    <!--提示框begin-->
                                    <div class="prompt_box" style="left:-65px;top:35px;">
                                        <span class="Icon prompt_top"></span>
                                        <div class="prompt_main">
                                            <div class="prompt_title">
                                                审批已完成 <span class="add marl5">5/10</span>
                                            </div>
                                            <ul class="user_li">
                                                <li class="clearfix">
                                                    <span class="UserImg inlineblock floatleft mart10 marr10 ie-css3"><img src="../img/1.png"></span>
                                                    <p class="alignright">
                                                        <span class="color-3 floatleft">张睿</span>
                                                        <em class="s_no">否决申请</em>
                                                    </p>
                                                    <p class="color-8 alignright">2014-12-01  14:11</p>
                                                </li>
                                                <li class="clearfix">
                                                    <span class="UserImg inlineblock floatleft mart10 marr10 ie-css3"><img src="../img/1.png"></span>
                                                    <p class="alignright">
                                                        <span class="color-3 floatleft">张睿</span>
                                                        <em>通过申请</em>
                                                    </p>
                                                    <p class="color-8 alignright">2014-12-01  14:11</p>
                                                </li>
                                                <li class="clearfix">
                                                    <span class="UserImg inlineblock floatleft mart10 marr10 ie-css3"><img src="../img/1.png"></span>
                                                    <p class="alignright">
                                                        <span class="color-3 floatleft">张睿</span>
                                                        <em>通过申请</em>
                                                    </p>
                                                    <p class="color-8 alignright">2014-12-01  14:11</p>
                                                </li>
                                                <li class="clearfix">
                                                    <span class="UserImg inlineblock floatleft mart10 marr10 ie-css3"><img src="../img/1.png"></span>
                                                    <p class="alignright">
                                                        <span class="color-3 floatleft">张睿</span>
                                                        <em>通过申请</em>
                                                    </p>
                                                    <p class="color-8 alignright">2014-12-01  14:11</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="Icon prompt_bt"></span>
                                    </div>
                                    <!--提示框over-->
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner_td">
                                    <span class="color_mark color_2">
                                        <i class="Icon"></i>
                                        <em>执</em>
                                    </span>
                                </div>
                            </td>
                            <td><div class="inner_td">基层员工标准请假申请工单基层员工标准请假申请工单</div></td>
                            <td>
                                <div class="inner_td">
                                    <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    <span>刘德华</span>
                                </div>
                            </td>
                            <td><div class="inner_td">2014-06-30  14:32</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
        <!--右侧滑出的表单详情 附件begin-->
        <div class="right_main AppDetail" style="display:none;">
            <!--操作按钮begin-->
            <div class="AppMakeBtn clearfix alignright">
                <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-cross"></i>通 过</a>
                <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-veto"></i>否 决</a>
                <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-turn2"></i>转 审</a>
                <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-invite"></i>邀 请</a>
                <!--<a href="javascript:;" class="Btn"><i class="Icon ico-done"></i>处 理</a>-->
                <!--<a href="#" class="print floatright" title="打印"><i class="Icon ico-print2"></i></a>-->
                <a href="#" class="Btn btn-acc floatright"><i class="Icon ico-acc"></i></a>
                <a href="javascript:;" class="Btn btn-acc floatright"><i class="Icon ico-notice"></i></a>
            </div>
            <!--操作按钮over-->
            <div class="AppDetailIn jscroll"  style="height:955px;">
                <!--审批意见 附件 begin-->
                <div class="Approval" style="display:;">
                    <table>
                        <tr>
                            <th class="font14 p-top5">选择转审人员：</th>
                            <td>
                                <div class="popIn font14 nopadding">
                                    <p>
                                        <!--<a href="javascript:;" class="add block mart3" title="添加">添加转审人</a>-->
                                        <span class="Li_span4 ie-css3">
                                            <img src="../img/1.png">
                                            <i class="add">刘德华</i>
                                        </span>
                                        <a href="javascript:;" title="替换" class="marl10"><i class="Icon ico-refresh"></i></a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="font14">
                                <p class="mart10">填写通过意见：</p>
                            </th>
                            <td>
                                <div class="Approval_inner ie-css3 mart10">
                                    <textarea class="mart10"></textarea>
                                    <div class="mart10 marl20" style="display: block;">
                                        <ul class="acc_list clearfix">
                                            <li>
                                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                                <div class="block ie-css3"><p><img src="../img/fu_bmp.gif"/></p></div>
                                                <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                                <div class="block ie-css3">
                                                    <p><img src="../img/ico.png"/></p>
                                                    <span class="mask" style="height:50%"><em>20%</em></span>
                                                </div>
                                                <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="mart10 clearfix app_p alignright">
                                        <a href="#" class="floatleft add"><i class="Icon ico-acc"></i> 添加附件</a>
                                        <label class="marr10"><input type="checkbox"> 是否关注审批动态</label>
                                        <a href="#" class="Btn btn-make floatright btn-sure">确 定</a>
                                        <a href="#" class="Btn btn-make floatright btn-quit">取 消</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--审批意见 附件 over-->
                <div class="AppDetailmain">
                    <p class="font20 alignleft">采购申请</p>
                    <p class="font14 mart20 alignleft">单据编号：<span>SB-2014-29038478</span></p>
                    <div class="mart30">
                        <table class="AppTable">
                            <tbody>
                                <tr>
                                    <th>申请人</th>
                                    <td>孙悟空</td>
                                    <th>申请日期</th>
                                    <td>2014-07-21 18:28:39</td>
                                </tr>
                                <tr>
                                    <th>部门</th>
                                    <td>天宫动物园</td>
                                    <th>金额</th>
                                    <td>1,000,00（元）</td>
                                </tr>
                                <tr>
                                    <th>备注</th>
                                    <td colspan="3">天宫动物园工作规范忙</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mart30">
                        <p class="font14">单据明细：</p>
                        <table class="AppTable mart10">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>日期</th>
                                    <th>类型</th>
                                    <th>型号</th>
                                    <th style="width:100px;">金额</th>
                                    <th style="width:30%">备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2014-07-21</td>
                                    <td>办公用品</td>
                                    <td>fjnfdjk00</td>
                                    <td>1,000,00<em class="RMB floatright">（元）</em></td>
                                    <td>无</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2014-07-21</td>
                                    <td>办公用品</td>
                                    <td>fjnfdjk00</td>
                                    <td>1,000,00<em class="RMB floatright">（元）</em></td>
                                    <td>无</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="line"></p>
                    <!--审批详情begin-->
                    <div class="mart30">
                        <p class="font14 alignright clearfix">
                            <span class="floatleft">审批详情：</span>
                            <span class="font12 color-6">总共用时：1小时12分35秒</span>
                        </p>
                        <table class="AppTable mart10">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>操作人</th>
                                    <th>操作</th>
                                    <th>操作时间</th>
                                    <th style="width:60px;">用时</th>
                                    <th style="width:30%">审批意见</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="vertical-align: top;" class="Solid">1</td>
                                    <td rowspan="2" style="vertical-align: top;" class="Solid">赵阳</td>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td rowspan="2" style="vertical-align: top;" class="Solid">无</td>
                                </tr>
                                <tr>
                                    <td class="Solid">通过申请</td>
                                    <td class="Solid">2014-07-21 18:28:39</td>
                                    <td class="Solid">12<em class="RMB floatright">秒</em></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align: top;">2</td>
                                    <td rowspan="2" style="vertical-align: top;">王佳</td>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td rowspan="2" style="vertical-align: top;">无</td>
                                </tr>
                                <tr>
                                    <td>通过申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>张睿</td>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td>无</td>
                                </tr>
                                <tr class="wait">
                                    <td>4</td>
                                    <td>张睿</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--审批详情over-->
                    <!--邀请详情begin-->
                    <div class="mart30">
                        <p class="font14 alignright clearfix">
                            <span class="floatleft">邀请详情：</span>
                        </p>
                        <table class="AppTable mart10">
                            <thead>
                                <tr>
                                    <th>操作人</th>
                                    <th>操作</th>
                                    <th>操作时间</th>
                                    <th>用时</th>
                                    <th style="width:30%">审批意见</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>张睿</td>
                                    <td>邀请<em>王佳</em></td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td></td>
                                    <td>无</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align: top;">王佳</td>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td rowspan="2" style="vertical-align: top;">无</td>
                                </tr>
                                <tr>
                                    <td>通过申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                </tr>
                                <tr>
                                    <td>张睿</td>
                                    <td>邀请<em>王佳</em></td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td></td>
                                    <td>无</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align: top;">王佳</td>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td rowspan="2" style="vertical-align: top;">无</td>
                                </tr>
                                <tr>
                                    <td>通过申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--邀请详情over-->
                    <!--执行详情begin-->
                    <div class="mart30">
                        <p class="font14 alignright clearfix">
                            <span class="floatleft">执行详情：</span>
                            <span class="font12 color-6">总共用时：1小时12分35秒</span>
                        </p>
                        <table class="AppTable mart10">
                            <thead>
                                <tr>
                                    <th>操作人</th>
                                    <th>操作</th>
                                    <th>操作时间</th>
                                    <th style="width:60px;">用时</th>
                                    <th style="width:30%">审批意见</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align: top;">赵阳</td>
                                    <td>接收申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td rowspan="2" style="vertical-align: top;">无</td>
                                </tr>
                                <tr>
                                    <td>查看申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                </tr>
                                <tr>
                                    <td>通过申请</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                </tr>
                                <tr class="Solid"><td colspan="5"></td></tr>
                                <tr>
                                    <td>王佳</td>
                                    <td>执行完成</td>
                                    <td>2014-07-21 18:28:39</td>
                                    <td>12<em class="RMB floatright">秒</em></td>
                                    <td>无条件给予通过</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--执行详情over-->
                </div>
            </div>
        </div>
        <!--右侧滑出的表单详情 附件over-->
        <div class="mask" style="display: none"></div>
        <!--help begin-->
        <div class="help_box" style="display: none">
            <div class="help_inner">
                <a href="javascript:;" class="off font16" title="关闭">×</a>
                <p class="help_title font14">帮助</p>
	            <div class="help_card">
	            		<div class="help_mask"><img src="../img/help_mask.png"></div>
		            	<ul class="card_list clearfix">
			            <li class="box card_theme1 animate">
			                <div class="card_in">
			                    <div class="card_title alignright">
			                        <p class="alignright">
			                            <span class="floatleft">考勤申请</span>
			                            <span>审</span>
			                        </p>
			                        <div class="card_txt">
			                            <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
			                            <p class="card_number">KQ20141210003</p>
			                            <p>2014-12-01 13:34</p>
			                        </div>
			                    </div>
			                    <div class="card_in_main">
			                        <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
			                        <p class="color-3 txt_hidden"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北明道北京研发中心京研发中心</em></p>
			                    </div>
			                    <div class="card_time">
			                        <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
			                        <p><i>12/23</i></p>
			                    </div>
			                </div>
			            </li>
			        </ul>
	            </div>
	            <div class="help_bottom">
	                <p class="p-top20">*单据状态：新版快捷审批采用不同颜色用来区分相应状态的单据</p>
	                <div class="mart20">
	                		<span><i class="point point_1"></i>未通过</span>
	                		<span class="marl20"><i class="point point_2"></i>已通过</span>
	                		<span class="marl20"><i class="point point_3"></i>待审批</span>
	                		<span class="marl20"><i class="point point_4"></i>待经办</span>
	                		<span class="marl20"><i class="point point_5"></i>未读传阅</span>
	                		<span class="marl20"><i class="point point_6"></i>待确认</span>
	                		<span class="marl20"><i class="point point_7"></i>未读</span>
	                </div>
	               	<div class="help_bt mart20">
	               		<p>*单据类型：申（我的申请）、审（需我审批）、办（需我经办）、传（传阅至我）</p>
	               	</div>
	            </div>
            </div>
        </div>
        <!--help over-->
        <!--更新浏览器begin-->
        <div class="pop pop_ie">
            <div class="popIn">
                <p class="aligncenter p-top40"><img src="../img/slogan.jpg"></p>
                <div class="explorer mart50 aligncenter">
                    <em class="arrow-t"></em>
                    <p>
                        <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank"><img src="../img/chrome.png"></a>
                        <a href="http://www.firefox.com.cn/" target="_blank"><img src="../img/firefox.png"></a>
                        <a href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-11-worldwide-languages/" target="_blank" style="top:-2px;"><img src="../img/ie.png"></a>
                        <a href="http://www.maxthon.cn/" target="_blank"><img src="../img/ay.png"></a>
                        <a href="http://se.360.cn/" target="_blank"><img src="../img/360.png"></a>
                    </p>
                </div>
            </div>
        </div>
        <!--更新浏览器over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>