<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>申请-进行中</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/1.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-buy"></a>
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="font25 current"><span class="icon-home"></span></a>
                <a href="javascript:;" class="font22"><span class="icon-search"></span></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;">进行中</a>
            <a href="javascript:;" class="current">已完成</a>
        </div>
        <!--二级菜单over-->
        <!--通知状态条begin-->
        <div class="message_box">
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
            <div class="message message_error"><p class="font14 color-white">提交失败！</p></div>
        </div>
        <!--通知状态条over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--申请进行中begin-->
            <div class="list_doing" style="width:100%;position: absolute;top:50%;margin-top: -260px;">
                <!--卡片组begin-->
                <div class="card_out mart100" style="height:370px;">
                    <div class="r_btn">
                        <!--<a href="javascript:;" class="Icon ico-q"></a>-->
                        <a href="javascript:;" class="Icon ico-re"></a>
                        <a href="javascript:;" class="Icon ico-prev nodate"></a>
                        <a href="javascript:;" class="Icon ico-next"></a>
                    </div>
                    <div class="card_box_in" style="top:0;"><!--控制 card_box_in 的 top 来实现上下滚动-->
                        <div class="card_box">
                            <ul class="card_list clearfix">
                                <li class="box card_theme1 animate">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span><i class="Icon ico-emergency" title="紧急"></i></span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3 txt_hidden"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北明道北京研发中心明道北京研发中心京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme1">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme1">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme1">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box card_theme3">
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-3"><span class="color-8">审批人 ：</span><em>张睿</em></p>
                                            <p class="color-3"><span class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span><em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="box waiting"><!--待审核的-->
                                    <div class="card_in">
                                        <div class="card_title alignright">
                                            <p class="alignright">
                                                <span class="floatleft">考勤申请</span>
                                                <span>审</span>
                                            </p>
                                            <div class="card_txt">
                                                <span class="UserImg inlineblock floatleft ie-css3"><img src="../img/1.png"></span>
                                                <p class="card_number">KQ20141210003</p>
                                                <p>2014-12-01 13:34</p>
                                            </div>
                                        </div>
                                        <div class="card_in_main">
                                            <p class="color-8">审批人 ：<em>张睿</em></p>
                                            <p class="color-8">部&nbsp;&nbsp;&nbsp;&nbsp;门：<em>明道北京研发中心</em></p>
                                        </div>
                                        <div class="card_time">
                                            <div class="process_bar"><span class="process_bar_in" style="width:46%;"></span></div>
                                            <p><i>12/23</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--卡片组over-->
            </div>
            <!--申请进行中over-->
        </div>
        <!--主要内容over-->
    </div>
    <!--无数据begin-->
    <div class="no_data ie-css3 aligncenter font14">哎呀，您没有当前分类的单据！</div>
    <!--无数据over-->

</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>