<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>new list</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<!--右侧滑出的表单详情 附件begin-->
<div class="AppDetail_in">
<span class="loading loading_mini ie-css3"><img src="../img/loading.png"/></span>
    <!--操作按钮begin-->
    <div class="AppMakeBtn clearfix alignright">
        <a href="javascript:;" class="Btn floatleft current"><i class="Icon ico-cross"></i>通 过</a>
        <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-veto"></i>否 决</a>
        <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-turn2"></i>转 审</a>
        <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-invite"></i>邀 请</a>
        <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-sendto"></i>传 阅</a>
        <a href="javascript:;" class="Btn floatleft"><i class="Icon ico-done"></i>处 理</a>
        <a href="#" class="Btn floatleft"><i class="Icon ico-turn"></i>撤销</a>
        <a href="#" class="Btn btn-acc floatright" title="打印"><i class="Icon ico-print"></i></a>
        <a href="#" class="Btn btn-acc floatright"><i class="Icon ico-acc"></i></a>
        <!--<a href="javascript:;" class="Btn btn-acc floatright"><i class="Icon ico-notice"></i></a>-->
    </div>
    <!--操作按钮over-->
    <!--审批意见begin-->
    <div class="Approval" style="top: 40px;display:none">
        <table>
            <tr>
                <th class="font14">
                    <p class="mart10">填写通过意见：</p>
                </th>
                <td>
                    <div class="Approval_inner ie-css3 mart10">
                        <textarea class="mart10"></textarea>
                        <div class="mart10" style="display: block;">
                            <ul class="acc_list clearfix">
                                <li>
                                    <a href="javascript:;" class="Icon ico-delete4"></a>
                                    <div class="block ie-css3"><p><img src="../img/fu_bmp.gif"/></p></div>
                                    <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                </li>
                                <li>
                                    <a href="javascript:;" class="Icon ico-delete4"></a>
                                    <div class="block ie-css3">
                                        <p><img src="../img/ico.png"/></p>
                                        <span class="mask" style="height:50%"><em>20%</em></span>
                                    </div>
                                    <p class="txt_hidden" contenteditable="true">第一季度报表</p>
                                </li>
                            </ul>
                        </div>
                        <p class="mart10 clearfix app_p alignright">
                            <a href="#" class="floatleft add"><i class="Icon ico-acc"></i> 添加附件</a>
                            <label class="marr10"><input type="checkbox"> 是否关注审批动态</label>
                            <a href="#" class="Btn btn-make floatright btn-sure">确 定</a>
                            <a href="#" class="Btn btn-make floatright btn-quit">取 消</a>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--审批意见over-->
    <!--转阅begin-->
    <div class="Approval" style="top: 40px;display:none ">
        <table class="Approval_turn">
            <tr class="first">
                <th class="font14 width-80">转阅成员：</th>
                <td>
                    <div class="p-bt10" style="width:80%;">
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                            <!--提示框begin-->
                            <div class="prompt_box" style="left:-85px;display: none">
                                <span class="Icon prompt_top"></span>
                                <div class="prompt_main">
                                    <div class="prompt_title clearfix alignright">
                                        <div class="floatleft">
                                             <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                             <span>张睿</span>
                                        </div>
                                    </div>
                                    <div class="marl10 color-6 mart10">
                                        <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                        <p>北京研发中心</p>
                                        <p>产品经理</p>
                                    </div>
                                    <p><a href="#" class="Btn current marl10 mart5 btn-make">从列表中移除</a></p>
                                </div>
                                <span class="Icon prompt_bt"></span>
                            </div>
                            <!--提示框over-->
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        </div>
                        <div class="relative inlineblock">
                            <span class="UserImg inlineblock ie-css3"></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="clearfix">
                        <textarea class="mart10 marl10 marr20 floatleft" placeholder="在此输入转阅意见"></textarea>
                        <p class="inlineblock">
                            <a href="#" class="Btn-normal">取 消</a>
                            <a href="#" class="Btn-normal marl10">确 定</a>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--转阅over-->
    <!--附件begin-->
    <div class="Approval" style="top: 40px;display:none;">
        <table>
            <tr>
                <td>
                    <div class="Approval_inner ie-css3 mart10" style="width:760px;">
                        <textarea class="mart10" placeholder="请填写通过意见："></textarea>
                        <div class="Annex_list" style="display: ">
                            <ul class="clearfix">
                                <li class="clearfix">
                                    <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                                    <p class="mart5 txt_hidden edit" contenteditable="true">2014年第一季度产品规划.xls</p>
                                    <p class="color-8 clearfix marr10 alignright">
                                        <span class="floatleft">34M</span>
                                        <span>
                                            <a href="">重命名</a>
                                            <a href="">删除</a>
                                        </span>
                                    </p>
                                    <div class="process_box alignright clearfix">
                                        <div class="process_bar floatleft">
                                            <span class="process_bar_in" style="width:40%;"></span>
                                        </div>
                                        <span class="floatleft">40%</span>
                                        <a href="#">取消</a>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                                    <p class="color-8 clearfix marr10 alignright">
                                        <span class="floatleft">34M</span>
                                        <span>
                                            <a href="">重命名</a>
                                            <a href="">删除</a>
                                        </span>
                                    </p>
                                </li>
                                <li class="clearfix">
                                    <span class="an_logo floatleft"><img src="../img/fu_pdf.gif"></span>
                                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                                    <p class="color-8 clearfix marr10 alignright">
                                        <span class="floatleft">34M</span>
                                        <span>
                                            <a href="">重命名</a>
                                            <a href="">删除</a>
                                        </span>
                                    </p>
                                </li>
                                <li class="clearfix">
                                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                                    <p class="color-8 clearfix marr10 alignright">
                                        <span class="floatleft">34M</span>
                                        <span>
                                            <a href="">重命名</a>
                                            <a href="">删除</a>
                                        </span>
                                    </p>
                                </li>
                                <li class="clearfix">
                                    <span class="an_logo floatleft"><img src="../img/fu_qita.gif"></span>
                                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                                    <p class="color-8 clearfix marr10 alignright">
                                        <span class="floatleft">34M</span>
                                        <span>
                                            <a href="">重命名</a>
                                            <a href="">删除</a>
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!--上传的图片begin-->
                        <ul class="acc_list clearfix" style="display:none ">
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p></p></div>
                                <div class="process_box alignright clearfix">
                                    <div class="process_bar floatleft">
                                        <span class="process_bar_in" style="width:40%;"></span>
                                    </div>
                                    <a href="#">取消</a>
                                </div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                              <li>
                                <a href="javascript:;" class="Icon ico-delete4"></a>
                                <div class="block ie-css3"><p><img src="../img/img1.png"></p></div>
                              </li>
                        </ul>
                        <!--上传的图片over-->
                        <p class="mart10 clearfix app_p alignright">
                            <a href="#" class="floatleft add"><i class="Icon ico-acc"></i> 添加附件</a>
                            <a href="#" class="Btn btn-make floatright btn-sure">确 定</a>
                            <a href="#" class="Btn btn-make floatright btn-quit">取 消</a>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--附件over-->
    <div class="AppDetailIn jscroll"  style="height:955px;">
        <div class="AppDetailmain">
            <p class="font20 aligncenter">采购申请</p>
            <p class="font14 mart10 alignright">单据编号：<span>SB-2014-29038478</span></p>
            <div class="mart20">
                <table class="AppTable firstable">
                    <tbody>
                        <tr>
                            <th>申请人</th>
                            <td class="width-200">孙悟空</td>
                            <th>申请日期</th>
                            <td>2014-07-21 18:28:39</td>
                        </tr>
                    </tbody>
                </table>
                <table class="AppTable firstable">
                    <tbody>
                        <tr>
                            <th>部门</th>
                            <td class="width-200">天宫动物园</td>
                            <th>金额</th>
                            <td>1,000,00（元）</td>
                        </tr>
                    </tbody>
                </table>
                <table class="AppTable firstable">
                    <tbody>
                        <tr>
                            <th>备注</th>
                            <td colspan="3">天宫动物园工作规范忙</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mart30">
                <p class="font14">单据明细：</p>
                <table class="AppTable mart10">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>日期</th>
                            <th>类型</th>
                            <th>型号</th>
                            <th style="width:100px;">金额</th>
                            <th style="width:30%">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2014-07-21</td>
                            <td>办公用品</td>
                            <td>fjnfdjk00</td>
                            <td>1,000,00<em class="RMB floatright">（元）</em></td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2014-07-21</td>
                            <td>办公用品</td>
                            <td>fjnfdjk00</td>
                            <td>1,000,00<em class="RMB floatright">（元）</em></td>
                            <td>无</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="line"></p>
            <!--审批详情begin-->
            <div class="mart30">
                <p class="font14 alignright clearfix">
                    <span class="floatleft">审批详情：</span>
                    <span class="font12 color-6">总共用时：1小时12分35秒</span>
                </p>
                <table class="AppTable mart10">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>操作人</th>
                            <th>操作</th>
                            <th>操作时间</th>
                            <th style="width:60px;">用时</th>
                            <th style="width:30%">审批意见</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" style="vertical-align: top;" class="Solid">1</td>
                            <td rowspan="2" style="vertical-align: top;" class="Solid">赵阳</td>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td rowspan="2" style="vertical-align: top;" class="Solid">无</td>
                        </tr>
                        <tr>
                            <td class="Solid">通过申请</td>
                            <td class="Solid">2014-07-21 18:28:39</td>
                            <td class="Solid">12<em class="RMB floatright">秒</em></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="vertical-align: top;">2</td>
                            <td rowspan="2" style="vertical-align: top;">王佳</td>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td rowspan="2" style="vertical-align: top;">无</td>
                        </tr>
                        <tr>
                            <td>通过申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>张睿</td>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td>无</td>
                        </tr>
                        <tr class="wait">
                            <td>4</td>
                            <td>张睿</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--审批详情over-->
            <!--邀请详情begin-->
            <div class="mart30">
                <p class="font14 alignright clearfix">
                    <span class="floatleft">邀请详情：</span>
                </p>
                <table class="AppTable mart10">
                    <thead>
                        <tr>
                            <th>操作人</th>
                            <th>操作</th>
                            <th>操作时间</th>
                            <th>用时</th>
                            <th style="width:30%">审批意见</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>张睿</td>
                            <td>邀请<em>王佳</em></td>
                            <td>2014-07-21 18:28:39</td>
                            <td></td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="vertical-align: top;">王佳</td>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td rowspan="2" style="vertical-align: top;">无</td>
                        </tr>
                        <tr>
                            <td>通过申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                        </tr>
                        <tr>
                            <td>张睿</td>
                            <td>邀请<em>王佳</em></td>
                            <td>2014-07-21 18:28:39</td>
                            <td></td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="vertical-align: top;">王佳</td>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td rowspan="2" style="vertical-align: top;">无</td>
                        </tr>
                        <tr>
                            <td>通过申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--邀请详情over-->
            <!--执行详情begin-->
            <div class="mart30">
                <p class="font14 alignright clearfix">
                    <span class="floatleft">执行详情：</span>
                    <span class="font12 color-6">总共用时：1小时12分35秒</span>
                </p>
                <table class="AppTable mart10">
                    <thead>
                        <tr>
                            <th>操作人</th>
                            <th>操作</th>
                            <th>操作时间</th>
                            <th style="width:60px;">用时</th>
                            <th style="width:30%">审批意见</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" style="vertical-align: top;">赵阳</td>
                            <td>接收申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td rowspan="2" style="vertical-align: top;">无</td>
                        </tr>
                        <tr>
                            <td>查看申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                        </tr>
                        <tr>
                            <td>通过申请</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                        </tr>
                        <tr class="Solid"><td colspan="5"></td></tr>
                        <tr>
                            <td>王佳</td>
                            <td>执行完成</td>
                            <td>2014-07-21 18:28:39</td>
                            <td>12<em class="RMB floatright">秒</em></td>
                            <td>无条件给予通过</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--执行详情over-->
        </div>
    </div>
    <!--<div class="mask"></div>-->
</div>
<!--右侧滑出的表单详情 附件over-->
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>