<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订购信息</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/9.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-buy current"></a>
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--header over-->
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;">进行中</a>
            <a href="javascript:;" class="current">已完成</a>
        </div>
        <!--二级菜单over-->
        <!--试用弹出begin-->
        <div class="order_main" style="height:516px;margin-top:-258px;">
            <div class="order_item font30 aligncenter color-3">欢迎试用快捷审批</div>
            <div class="order_item">
                <p class="font14">根据您在明道的注册用户数量，您的价格档位为：</p>
                <table class="mart20">
                    <tr>
                        <td>25人及以下99元/月</td>
                        <td>26-50人199元/月</td>
                        <td>51-100人299元/月；</td>
                    </tr>
                    <tr>
                        <td class="add">101-250人399元/月</td>
                        <td>251-500人499元/月</td>
                        <td>500人以上999元/月；</td>
                    </tr>
                </table>
            </div>
            <div class="order_item">
                <table class="font14">
                    <tr>
                        <th class="width-80">试用时长：</th>
                        <td>30天</td>
                    </tr>
                    <tr>
                        <th>起始时间：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th>截止日期：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th class="aligntop p-top5">开放功能：</th>
                        <td>在试用期间，您能享受快捷审批的全部功能，并且不限制表单数量。</td>
                    </tr>
                </table>
            </div>
            <div class="order_bt noborder order_item aligncenter"><a href="#" class="font18">立即试用</a></div>
        </div>
        <!--试用弹出over-->
        <!--订购弹出begin-->
        <div class="order_main" style="height:460px;margin-top:-230px;">
            <div class="order_item font30 aligncenter color-3">欢迎试用快捷审批</div>
            <div class="order_item">
                <p class="font14">剩余使用天数：10天</p>
                <table class="mart20">
                    <tr>
                        <td class="font14">您于2014年11月2日，订购了3个月本产品。</td>
                    </tr>
                    <tr>
                        <td class="font14">使用日期截止到2015年2月2日。产品价格：999 元。</td>
                    </tr>
                </table>
            </div>
            <div class="order_item">
                <table class="font14">
                    <tr>
                        <th class="width-80">订购时长：</th>
                        <td>3月<a href="#" class="add marl20">订购记录</a></td>
                    </tr>
                    <tr>
                        <th>起始时间：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th>到期时间：</th>
                        <td>2014-11-3</td>
                    </tr>
                </table>
            </div>
            <div class="order_bt noborder order_item aligncenter"><a href="#" class="font18">立即续费</a></div>
        </div>
        <!--订购弹出over-->
        <!--通知状态条begin-->
        <div class="message_box" style="display: none;">
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
            <div class="message message_error"><p class="font14 color-white">提交失败！</p></div>
        </div>
        <!--通知状态条over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--list begin-->
            <div class="list_main" style="display:;">
                <div class="r_btn">
                    <a href="javascript:;" class="Icon ico-re"></a>
                    <a href="javascript:;" class="Icon ico-prev"></a>
                    <a href="javascript:;" class="Icon ico-next"></a>
                </div>
                <table class="list_table">
                    <thead>
                        <tr>
                            <th class="width-140">订购人数（人）</th>
                            <th class="width-140">订购时长（月）</th>
                            <th class="width-140">起始时间</th>
                            <th class="width-140">到期时间</th>
                            <th>产品价格（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                        <tr>
                            <td><div class="inner_td">101~200</div></td>
                            <td><div class="inner_td">3</div></td>
                            <td><div class="inner_td">2014-11-23</div></td>
                            <td><div class="inner_td">2015-2-6</div></td>
                            <td><div class="inner_td">999.00</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
        <div class="mask"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>