<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>new list</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<!--右侧滑出的表单详情 附件begin-->
<div class="AppDetail_in">
    <!--操作按钮begin-->
    <div class="AppMakeBtn clearfix alignright">
        <span class="block form_logo aligncenter color_1"><img src="../img/fico-2.png"/></span>
        <span class="floatleft form_name font14">资源申请</span>
        <a href="javascript:;" class="Btn"><i class="Icon ico-edit2"></i>编辑流程</a>
        <a href="javascript:;" class="Btn"><i class="Icon ico-clear"></i>清空流程</a>
        <div class="Btn" style="width: auto;">强制管理
            <span class="switch"><em>关</em></span>
        </div>
    </div>
    <!--操作按钮over-->
    <div class="AppDetailIn jscroll"  style="height:955px;">
        <div class="AppDetailmain p-top40" style="margin: 10px">
            <p class="nodata aligncenter font14">该表单暂时未配置任何流程！</p>
            <div class="process" style="display: none;">
                <p class="Title font14 clearfix alignright">
                    <span class="floatleft">报销金额大于1000普通员工流程</span>
                    <a href="javascript:;" class="Icon ico-set" title="编辑"></a>
                    <a href="javascript:;" class="Icon ico-remove" title="删除"></a>
                </p>
                <div class="Item clearfix">
                    <span class="floatleft"><i class="Icon ico-user"></i>流程明细：</span>
                    <div class="ProcessOut floatleft">
                        <ul class="ProcessLi floatleft clearfix">
                            <li>刘德华<i class="Icon ico-arrow2"></i></li>
                            <li>王振佳<i class="Icon ico-arrow2"></i></li>
                            <li>王佳<i class="Icon ico-arrow2"></i></li>
                            <li>张睿<i class="Icon ico-arrow2"></i></li>
                            <li>王佳<i class="Icon ico-arrow2"></i></li>
                            <li>张睿<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>赵阳</li>
                        </ul>
                    </div>
                </div>
                <div class="Item clearfix">
                    <span class="floatleft mart5 marr15"><i class="Icon ico-user2"></i>执行人：</span>
                    <div class="inlineblock">
                        <span>
                            <span class="UserImg inlineblock ie-css3 marr5"><img src="../img/1.png"></span>
                            张睿
                        </span>
                    </div>
                </div>
            </div>
            <div class="process" style="display: none;">
                <p class="Title font14 clearfix alignright">
                    <span class="floatleft">报销金额大于1000普通员工流程</span>
                    <a href="javascript:;" class="Icon ico-set" title="编辑"></a>
                    <a href="javascript:;" class="Icon ico-remove" title="删除"></a>
                </p>
                <div class="Item clearfix">
                    <span class="floatleft"><i class="Icon ico-user"></i>流程明细：</span>
                    <div class="ProcessOut floatleft">
                        <ul class="ProcessLi clearfix">
                            <li>刘德华<i class="Icon ico-arrow2"></i></li>
                            <li>王振佳<i class="Icon ico-arrow2"></i></li>
                            <li>王佳<i class="Icon ico-arrow2"></i></li>
                            <li><span class="UserImg inlineblock ie-css3 marr5"><img src="../img/1.png"></span><i class="Icon ico-arrow2"></i></li>
                            <li>王佳<i class="Icon ico-arrow2"></i></li>
                            <li>张睿<i class="Icon ico-arrow2"></i></li>
                            <li>何一河<i class="Icon ico-arrow2"></i></li>
                            <li>赵阳</li>
                        </ul>
                    </div>
                </div>
                <div class="Item clearfix">
                    <span class="floatleft mart5 marr15"><i class="Icon ico-user2"></i>执行人：</span>
                    <div class="inlineblock">
                        <span><span class="UserImg inlineblock ie-css3 marr5"><img src="../img/1.png"></span>张睿</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧滑出的表单详情 附件over-->
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>