<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LA home</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="nobg">
<!--主要内容begin-->
<div class="content">
    <div class="main clearfix process-main">
        <a href="javascript:;" class="Icon go_left"></a>
        <a href="javascript:;" class="Icon go_right"></a>
        <div class="form-main clearfix nobg"><!--三列都有数据时候加这个three-full-->
            <div class="process-content">
                <!--拖动时候出现的幻影框框begin-->
                <div class="item_box drag-box" style="height:100px;line-height:100px;left: 260px;display: none">ssss<div class="drag-mask"></div></div>
                <!--拖动时候出现的幻影框框over-->
                <div class="process-in clearfix" style="left:-333px;"><!--左右移动此框 每次移动333px-->
                    <!--processlist 的高度是iframe的高度减去80-->
                    <div class="processlist border-solid floatleft" style="height:770px;">
                        <a href="javascript:;" class="Icon ico-delete4"></a>
                        <div class="pro_title alignright clearfix">
                            <input type="text" class="int width-240 floatleft" value="北京研发中心标准流程A">
                            <a href="javascript:;" class="Icon ico-lock"></a>
                        </div>
                        <div class="processlist_inner jscroll" style="height:790px;">
                            <!--条件begin-->
                            <div class="item_box">
                                <span class="title color-3">条件</span>
                                <ul>
                                    <li>
                                        <em>1.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>2.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>3.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>4.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>5.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>6.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                </ul>
                                <p class="aligncenter p-bt10"><a href="javascript:;" class="add">＋添加流程条件</a></p>
                            </div>
                            <!--条件over-->
                            <!--审批流begin-->
                            <div class="item_box has-touch">
                                <span class="title color-3">审批流</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <th>step1:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step2:</th>
                                        <td>
                                            <em class="block aligncenter">刘德华</em>
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step3:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step4:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step5:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                </table>
                                <p class="aligncenter mart5 p-bt10"><a href="javascript:;" class="add">＋添加审批成员</a></p>
                            </div>
                            <!--审批流over-->
                            <!--执行人begin-->
                            <div class="item_box p-bt20">
                                <span class="title color-3">执行人</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10 marl10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换执行人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr15" title="删除执行人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--执行人over-->
                            <!--群组begin-->
                            <div class="item_box p-bt10 nomar">
                                <span class="title color-3">群组</span>
                                <a href="javascript:;" class="add change">切换至部门</a>
                                <div id="select" class="search ie-css3 select width-120 "><!--加 current，显示下拉列表框-->
                                    <span class="Choosed">选择群组</span>
                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                    <!--搜索结果begin-->
                                    <div class="ser_Results ie-css3">
                                        <ul>
                                            <li><span class="check checked"><i class="Icon ico-check"></i>一块红布</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>后会后会无期无期</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                        </ul>
                                    </div>
                                    <!--搜索结果over-->
                                </div>
                                <ul class="choosedlist clearfix mart10">
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                </ul>
                            </div>
                            <!--群组over-->
                        </div>
                    </div>
                    <div class="processlist floatleft" style="height:770px;">
                        <div class="pro_title">
                            <input type="text" class="int width-240" value="北京研发中心标准流程A">
                            <a href="javascript:;" class="Icon ico-unlock"></a>
                        </div>
                        <!--processlist_inner 的高度是iframe的高度减去60-->
                        <div class="processlist_inner jscroll" style="height:790px;">
                            <!--条件begin-->
                            <div class="item_box">
                                <span class="title color-3">条件</span>
                                <ul>
                                    <li>
                                        <em>1.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>2.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>3.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>4.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>5.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>6.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                </ul>
                                <p class="aligncenter p-bt10"><a href="javascript:;" class="add">＋添加流程条件</a></p>
                            </div>
                            <!--条件over-->
                            <!--审批流begin-->
                            <div class="item_box has-touch">
                                <span class="title color-3">审批流</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <th>step1:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step2:</th>
                                        <td>
                                            <em class="block aligncenter">刘德华</em>
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step3:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step4:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step5:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                </table>
                                <p class="aligncenter mart5 p-bt10"><a href="javascript:;" class="add">＋添加审批成员</a></p>
                            </div>
                            <!--审批流over-->
                            <!--执行人begin-->
                            <div class="item_box p-bt20">
                                <span class="title color-3">执行人</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10 marl10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换执行人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr15" title="删除执行人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--执行人over-->
                            <!--群组begin-->
                            <div class="item_box p-bt10 nomar">
                                <span class="title color-3">群组</span>
                                <a href="javascript:;" class="add change">切换至部门</a>
                                <div id="select" class="search ie-css3 select width-120 "><!--加 current，显示下拉列表框-->
                                    <span class="Choosed">选择群组</span>
                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                    <!--搜索结果begin-->
                                    <div class="ser_Results ie-css3">
                                        <ul>
                                            <li><span class="check checked"><i class="Icon ico-check"></i>一块红布</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>后会后会无期无期</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                        </ul>
                                    </div>
                                    <!--搜索结果over-->
                                </div>
                                <ul class="choosedlist clearfix mart10">
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                </ul>
                            </div>
                            <!--群组over-->
                        </div>
                    </div>
                    <div class="processlist floatleft" style="height:770px;">
                        <div class="pro_title">
                            <input type="text" class="int width-240" value="北京研发中心标准流程A">
                            <a href="javascript:;" class="Icon ico-unlock"></a>
                        </div>
                        <div class="processlist_inner jscroll" style="height:790px;">
                            <!--条件begin-->
                            <div class="item_box">
                                <span class="title color-3">条件</span>
                                <ul>
                                    <li>
                                        <em>1.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>2.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>3.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>4.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>5.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>6.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                </ul>
                                <p class="aligncenter p-bt10"><a href="javascript:;" class="add">＋添加流程条件</a></p>
                            </div>
                            <!--条件over-->
                            <!--审批流begin-->
                            <div class="item_box has-touch">
                                <span class="title color-3">审批流</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <th>step1:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step2:</th>
                                        <td>
                                            <em class="block aligncenter">刘德华</em>
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step3:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step4:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step5:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                </table>
                                <p class="aligncenter mart5 p-bt10"><a href="javascript:;" class="add">＋添加审批成员</a></p>
                            </div>
                            <!--审批流over-->
                            <!--执行人begin-->
                            <div class="item_box p-bt20">
                                <span class="title color-3">执行人</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10 marl10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换执行人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr15" title="删除执行人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--执行人over-->
                            <!--群组begin-->
                            <div class="item_box p-bt10 nomar">
                                <span class="title color-3">群组</span>
                                <a href="javascript:;" class="add change">切换至部门</a>
                                <div id="select" class="search ie-css3 select width-120 "><!--加 current，显示下拉列表框-->
                                    <span class="Choosed">选择群组</span>
                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                    <!--搜索结果begin-->
                                    <div class="ser_Results ie-css3">
                                        <ul>
                                            <li><span class="check checked"><i class="Icon ico-check"></i>一块红布</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>后会后会无期无期</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                        </ul>
                                    </div>
                                    <!--搜索结果over-->
                                </div>
                                <ul class="choosedlist clearfix mart10">
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                </ul>
                            </div>
                            <!--群组over-->
                        </div>
                    </div>
                    <div class="processlist floatleft" style="height:770px;">
                        <div class="pro_title">
                            <input type="text" class="int width-240" value="北京研发中心标准流程A">
                            <a href="javascript:;" class="Icon ico-unlock"></a>
                        </div>
                        <div class="processlist_inner jscroll" style="height:790px;">
                            <!--条件begin-->
                            <div class="item_box">
                                <span class="title color-3">条件</span>
                                <ul>
                                    <li>
                                        <em>1.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>2.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>3.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>4.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>5.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                    <li>
                                        <em>6.</em>
                                        <span>100000 <= 一月销售金额 <= 100000 </span>
                                        <a href="javascript:;" class="floatright"><i class="Icon ico-delete"></i></a>
                                    </li>
                                </ul>
                                <p class="aligncenter p-bt10"><a href="javascript:;" class="add">＋添加流程条件</a></p>
                            </div>
                            <!--条件over-->
                            <!--审批流begin-->
                            <div class="item_box has-touch">
                                <span class="title color-3">审批流</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <th>step1:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step2:</th>
                                        <td>
                                            <em class="block aligncenter">刘德华</em>
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step3:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step4:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                    <tr>
                                        <th>step5:</th>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换审批人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr10" title="删除审批人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr><th colspan="3" class="p-top10 aligncenter"><i class="Icon ico-down"></i></th></tr>
                                </table>
                                <p class="aligncenter mart5 p-bt10"><a href="javascript:;" class="add">＋添加审批成员</a></p>
                            </div>
                            <!--审批流over-->
                            <!--执行人begin-->
                            <div class="item_box p-bt20">
                                <span class="title color-3">执行人</span>
                                <table class="process_tab mart10">
                                    <tr>
                                        <td>
                                            <span class="UserImg block floatleft ie-css3 marr10 marl10"><img src="../img/1.png"></span>刘德华
                                        </td>
                                        <td class="alignright">
                                            <a href="javascript:;" title="替换执行人"><i class="Icon ico-refresh"></i></a>
                                            <a href="javascript:;" class="marl5 marr15" title="删除执行人"><i class="Icon ico-delete"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--执行人over-->
                            <!--群组begin-->
                            <div class="item_box p-bt10 nomar">
                                <span class="title color-3">群组</span>
                                <a href="javascript:;" class="add change">切换至部门</a>
                                <div id="select" class="search ie-css3 select width-120 "><!--加 current，显示下拉列表框-->
                                    <span class="Choosed">选择群组</span>
                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                    <!--搜索结果begin-->
                                    <div class="ser_Results ie-css3">
                                        <ul>
                                            <li><span class="check checked"><i class="Icon ico-check"></i>一块红布</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>后会后会无期无期</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                            <li><span class="check"><i class="Icon ico-check"></i>你把我灌醉</span></li>
                                        </ul>
                                    </div>
                                    <!--搜索结果over-->
                                </div>
                                <ul class="choosedlist clearfix mart10">
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你你把我你把我灌醉灌醉把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">一块红布</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你把我你把我灌醉灌醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">你醉</span><a href="javascript:;">×</a></li>
                                    <li><span class="txt_hidden">块红块</span><a href="javascript:;">×</a></li>
                                </ul>
                            </div>
                            <!--群组over-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--主要内容over-->
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        $(function(){
            Jscroll();
            $('.select').hover(function(){
                $(this).addClass('current');
            },function(){
                $(this).removeClass('current');
            });
        });
        $(window).resize(function(){
             Jscroll();
        });
    </script>
</body>
</html>