<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>new list</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/10.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;">我的</a>
                <a href="javascript:;">申请</a>
                <a href="javascript:;">审批</a>
                <a href="javascript:;">经办</a>
                <a href="javascript:;">传阅</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;">进行中</a>
            <a href="javascript:;" class="current">已完成</a>
        </div>
        <!--二级菜单over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--搜索begin-->
        <div class="search_out" style="display: none">
            <div class="new_search clearfix" style="display: ">
                <input type="text" class="int floatleft" placeholder="申请 / 时间 / 人员">
                <a href="javascript:;" class="new_btn marl10"><i class="Icon ico-search"></i></a>
                <div class="mart10 font14">
                    <span>正在搜索</span>
                    <a href="javascript:;">全站<i class="Icon ico-arrow current"></i></a>
                    <!--下拉框begin-->
                    <div class="ser_Results ie-css3 width-60">
                        <ul>
                            <li>申请</li>
                            <li>审批</li>
                            <li>经办</li>
                            <li>转阅</li>
                        </ul>
                    </div>
                    <!--下拉框over-->
                </div>
            </div>
        </div>
        <!--搜索over-->
        <!--搜索结果begin-->
        <div class="Results">
            <div class="Re_item">
                <p>共为您找到<em>23</em>条相关信息</p>
            </div>
            <div class="Re_item">
                <div class="new_search">
                    <input type="text" class="int floatleft" placeholder="">
                    <a href="javascript:;" class="new_btn"><i class="Icon ico-search"></i></a>
                </div>
            </div>
            <div class="Re_item font14">
                <p>申请</p>
                <ul class="mart10">
                    <li class="nodata"><a href="javascript:;">进行中<em>0</em></a></li>
                    <li><a href="javascript:;">已完成<em>9</em></a></li>
                </ul>
            </div>
            <div class="Re_item font14">
                <p>审批</p>
                <ul class="mart10">
                    <li><a href="javascript:;">进行中<em>10</em></a></li>
                    <li><a href="javascript:;">已完成<em>9</em></a></li>
                </ul>
            </div>
            <div class="Re_item font14">
                <p>经办</p>
                <ul class="mart10">
                    <li class="current"><a href="javascript:;">进行中<em>10</em></a></li>
                    <li><a href="javascript:;">已完成<em>9</em></a></li>
                </ul>
            </div>
            <div class="Re_item font14">
                <p>转阅<em>10</em></p>
            </div>
        </div>
        <!--搜索结果over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--list begin-->
            <div class="list_main" style="display:;">
                <div class="r_btn">
                    <a href="javascript:;" class="Icon ico-re"></a>
                    <a href="javascript:;" class="Icon ico-prev"></a>
                    <a href="javascript:;" class="Icon ico-next"></a>
                </div>
                <div class="list_table_box" style="height:410px;">
                    <div class="list_table_in" style="height:410px;top: 0px;">
                        <table class="list_table search_list">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="inner_td width-400">
                                            采购申请- 申请项目：笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本笔记本
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l">刘德刘德华华</span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：笔记本
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l">刘德刘德华华</span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="inner_td">
                                            采购申请- 申请项目：<span class="tags">笔记本</span>
                                        </div>
                                    </td>
                                    <td class="width-230">
                                        <div class="inner_td">
                                            <span class="width-60 txt_hidden border_l"><span class="tags">刘德刘德华华</span></span>
                                            <span class="width-120 txt_hidden border_l">明道北京研发中心</span>
                                        </div>
                                    </td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="border_l txt_hidden">2013年4月6日发起</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
        <!--遮罩层begin-->
        <div class="mask" style="display:none;"><span class="loading"><img src="../img/loading.gif"/></span></div>
        <!--遮罩层over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>