<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理流程step1</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/12.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="admin_header">
            <div class="top_nav top_nav_bg aligncenter font14">
                <a href="javascript:;" class="current">已配置</a>
                <a href="javascript:;">未配置<em class="prompt">18</em></a>
            </div>
        </div>
        <!--二级菜单begin-->
        <div class="second_header aligncenter">
            <a href="javascript:;" class="current"><i class="Icon ico-Collect"></i>常用表单</a>
            <a href="javascript:;"><i class="Icon ico-Finance"></i>财务类</a>
            <a href="javascript:;"><i class="Icon ico-Admin"></i>行政类</a>
            <a href="javascript:;"><i class="Icon ico-material"></i>市场类</a>
            <a href="javascript:;"><i class="Icon ico-Per"></i>人力类</a>
        </div>
        <!--二级菜单over-->
        <!--通知状态条begin-->
        <div class="message_box">
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
            <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
            <div class="message message_error"><p class="font14 color-white">提交失败！</p></div>
        </div>
        <!--通知状态条over-->
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--申请进行中begin-->
            <div class="list_doing process-admin">
                <!--卡片组begin-->
                <div class="form_box">
                    <div class="r_btn">
                        <!--<a href="javascript:;" class="Icon ico-q"></a>-->
                        <a href="javascript:;" class="Icon ico-re"></a>
                        <a href="javascript:;" class="Icon ico-prev disabled"></a>
                        <a href="javascript:;" class="Icon ico-next"></a>
                    </div>
                    <div class="card_out" style="height:480px;"><!--如果不能放下三行，那么这里的height应该是 height-150-->
                        <p class="font14 aligncenter">请选择您想编辑流程的表单</p>
                        <div class="card_box_in">
                            <div class="card_box" style="top:0;"><!--控制 card_box_in 的 top 来实现上下滚动-->
                                <ul class="form_list clearfix">
                                    <li class="color_0">
                                        <a href="#">
                                            <p><img src="../img/fico-1.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_1">
                                        <a href="#">
                                            <p><img src="../img/fico-2.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_2">
                                        <a href="#">
                                            <p><img src="../img/fico-3.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_3">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_4">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_5">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_6">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_7">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_8">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_9">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_0">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_2">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_4">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_6">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_3">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_8">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_9">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_7">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="form_list clearfix">
                                    <li class="color_0">
                                        <a href="#">
                                            <p><img src="../img/fico-1.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_1">
                                        <a href="#">
                                            <p><img src="../img/fico-2.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_2">
                                        <a href="#">
                                            <p><img src="../img/fico-3.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_3">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_4">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_5">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_6">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_7">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_8">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_9">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_0">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_2">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_4">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_6">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_3">
                                        <a href="#">
                                            <p><img src="../img/fico-6.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_8">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_9">
                                        <a href="#">
                                            <p><img src="../img/fico-4.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                    <li class="color_7">
                                        <a href="#">
                                            <p><img src="../img/fico-5.png"/></p>
                                            <p class="font16">资源申请</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--卡片组over-->
            </div>
            <!--申请进行中over-->
        </div>
        <!--主要内容over-->
        <!--右侧滑出的表单详情 附件begin-->
        <!--右侧滑出的表单详情 附件begin-->
        <div class="right_main AppDetail" style="right:0;">
            <iframe allowtransparency="true" allowtransparency="true" src="process_admin.html" width="800" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <!--右侧滑出的表单详情 附件over-->
        <!--右侧滑出的表单详情 附件over-->
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
</body>
</html>