<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>统计分析</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/18.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="admin_header">
            <div class="top_nav top_nav_bg aligncenter font14">
                <a href="javascript:;" class="current">统计分析</a>
                <a href="javascript:;">统计记录</a>
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出统计</a>
            </div>
        </div>
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b7"></i>
                <span class="block">统计分析</span>
            </a>
            <a href="javascript:;" class="inlineblock" style="display: none;">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--list begin-->
            <div class="list_main">
                <!--牛逼表格begin-->
                <div class="high_table clearfix" style="display: ">
                    <div class="table_left floatleft" style="width: 30%">
                        <!--表头begin-->
                        <div class="table_head">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th class="width-140"><div class="inner_td">部门</div></th>
                                        <th><div class="inner_td width-80">姓名</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--表头over-->
                        <div class="table_main" title="" style="height:300px;">
                            <table class="list_table wait_top" style="top:0;">
                                <tbody>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>上海明道</span></div></td>
                                        <td><div class="inner_td"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>上海明道</span></div></td>
                                        <td><div class="inner_td"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>上海明道</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>上海明道</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>周润发</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--合计begin-->
                        <div class="table_head">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th class="width-140"><div class="inner_td">合计</div></th>
                                        <th><div class="inner_td width-80">姓名</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--合计over-->
                    </div>
                    <div class="table_right floatleft" style="width: 70%">
                        <!--表头begin-->
                        <div class="table_head">
                            <table class="list_table wait_left" style="left:0">
                                <thead>
                                    <tr>
                                        <th><div class="inner_td">部门</div></th>
                                        <th><div class="inner_td">姓名</div></th>
                                        <th><div class="inner_td">报销金额</div></th>
                                        <th><div class="inner_td">支付方式</div></th>
                                        <th><div class="inner_td">费用类别</div></th>
                                        <th><div class="inner_td">时间</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--表头over-->
                        <div class="table_main" title="" style="height:300px;">
                            <table class="list_table wait_left wait_top" style="left:0;top:0;">
                                <tbody>
                                    <tr class="">
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--合计begin-->
                        <div class="table_head">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th class="width-140"><div class="inner_td">合计</div></th>
                                        <th><div class="inner_td width-80">姓名</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--合计over-->
                    </div>
                </div>
                <!--牛逼表格over-->
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
        <!--右侧检索条件begin-->
        <span class="Icon right_arrow" title="展开"></span>
        <div class="search_r">
            <div class="Re_item clearfix">
                <span class="inlineblock marl10 width-60 alignright">起止日期：</span>
                <div class="inlineblock">
                    <div class="clander has-general inlineblock">
                        <input type="text" class="int" placeholder="开始日期">
                        <a href="javascript:;" class="Icon ico-clander"></a>
                    </div>
                    <em>-</em>
                    <div class="clander has-general inlineblock">
                        <input type="text" class="int" placeholder="截止日期">
                        <a href="javascript:;" class="Icon ico-clander"></a>
                    </div>
                </div>
                <ul class="tab_nav mart10 clearfix">
                    <li class="current"><a href="javascript:;">最近一周</a></li>
                    <li><a href="javascript:;">最近一个月</a></li>
                    <li><a href="javascript:;">最近三个月</a></li>
                    <li><a href="javascript:;">最近一年</a></li>
                    <li><a href="javascript:;">一年一前</a></li>
                </ul>
            </div>
            <div class="Re_item">
                <span class="inlineblock marl10 width-60 alignright">申请表单：</span>
                <div class="search ie-css3 select width-180 inlineblock "><!--加 current，显示下拉列表框-->
                    <span class="Choosed">转正申请</span>
                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                    <div class="ser_Results ie-css3">
                        <div class="jscroll" style="width:170px;height:100px;">
                            <ul>
                                <li>转正申请</li>
                                <li>报销申请</li>
                                <li>行政费用</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Re_item">
                <table class="account_tab">
                    <tr>
                        <th class="aligntop"><span class="inlineblock width-60 alignright">列头：</span></th>
                        <td>
                            <span class="check checked"><i class="Icon ico-check"></i>部门</span>
                            <span class="check"><i class="Icon ico-check"></i>姓名</span>
                            <span class="check"><i class="Icon ico-check"></i>职位</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>日期</span>
                            <span class="check"><i class="Icon ico-check"></i>类型</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="Re_item">
                <table class="account_tab">
                    <tr>
                        <th class="aligntop"><span class="inlineblock width-60 alignright">统计：</span></th>
                        <td>
                            <span class="check checked"><i class="Icon ico-check"></i>部门</span>
                            <span class="check"><i class="Icon ico-check"></i>姓名</span>
                            <span class="check"><i class="Icon ico-check"></i>职位</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>日期</span>
                            <span class="check"><i class="Icon ico-check"></i>类型</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="Re_item">
                <span class="inlineblock marl10 width-60 alignright">分组：</span>
                <div class="search ie-css3 select current width-180 inlineblock "><!--加 current，显示下拉列表框-->
                    <span class="Choosed">申请部门</span>
                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                    <div class="ser_Results ie-css3">
                        <div class="jscroll" style="width:170px;height:100px;">
                            <ul>
                                <li>申请人</li>
                                <li>申请部门</li>
                                <li>付款方式</li>
                                <li>付款方式</li>
                                <li>付款方式</li>
                                <li>付款方式</li>
                                <li>付款方式</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="marl20 mart20">
                <a href="javascript:;" class="new_btn font12 ie-css3">充值选项</a>
                <a href="javascript:;" class="new_btn font12 ie-css3 marl10">开始统计</a>
            </p>
        </div>
        <!--右侧检索条件over-->
        <!--遮罩层begin-->
        <div class="mask" style="display:none;"><span class="loading"><img src="../img/loading.gif"/></span></div>
        <!--遮罩层over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
    });
</script>
</body>
</html>