<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>统计记录</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="admin_header">
            <div class="top_nav top_nav_bg aligncenter font14">
                <a href="javascript:;">统计分析</a>
                <a href="javascript:;" class="current">统计记录</a>
                <a href="javascript:;">统计权限</a>
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出统计</a>
            </div>
        </div>
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--list begin-->
            <div class="list_main">
                <div class="r_btn">
                    <a href="javascript:;" class="Icon ico-re"></a>
                    <a href="javascript:;" class="Icon ico-prev"></a>
                    <a href="javascript:;" class="Icon ico-next"></a>
                </div>
                <table class="list_table">
                    <thead>
                    <tr>
                        <th class="width-140">统计类型</th>
                        <th class="width-140">统计时间</th>
                        <th class="width-180">统计时段</th>
                        <th class="width-140">统计人</th>
                        <th class="width-100">状态</th>
                        <th class="width-100"></th>
                    </tr>
                    </thead>
                </table>
                <div class="list_table_box" style="height:410px;">
                    <div class="list_table_in" style="height:410px;top: 0px;">
                        <table class="list_table list_table_tj">
                            <tbody>
                                <tr>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span>明道北京研发中心总部大牛逼请假单</span>
                                        </div>
                                    </td>
                                    <td class="width-140"><div class="inner_td"><span>2014-06-30  14:32</span></div></td>
                                    <td class="width-180"><div class="inner_td"><span>2013-11-01  ~  2014-11-01</span></div></td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span>行走江湖</span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span class="block">已导出1次 </span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span>已打印999次</span>
                                            <div class="MakeBtn clearfix">
                                                <a href="javascript:;" title="打印"><i class="Icon ico-print"></i></a>
                                                <a href="javascript:;" title="下载" class="bg-eda026"><i class="Icon ico-down"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span>明道北京研发中心总部大牛逼请假单</span>
                                        </div>
                                    </td>
                                    <td class="width-140"><div class="inner_td"><span>2014-06-30  14:32</span></div></td>
                                    <td class="width-180"><div class="inner_td"><span>2013-11-01  ~  2014-11-01</span></div></td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span>行走江湖</span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span class="block">已导出12次 </span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span>已打印999次</span>
                                            <div class="MakeBtn clearfix">
                                                <a href="javascript:;" title="打印"><i class="Icon ico-print"></i></a>
                                                <a href="javascript:;" title="下载" class="bg-eda026"><i class="Icon ico-down"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span>明道北京研发中心总部大牛逼请假单</span>
                                        </div>
                                    </td>
                                    <td class="width-140"><div class="inner_td"><span>2014-06-30  14:32</span></div></td>
                                    <td class="width-180"><div class="inner_td"><span>2013-11-01  ~  2014-11-01</span></div></td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span>行走江湖</span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span class="block">已导出21次 </span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span>已打印999次</span>
                                            <div class="MakeBtn clearfix">
                                                <a href="javascript:;" title="打印"><i class="Icon ico-print"></i></a>
                                                <a href="javascript:;" title="下载" class="bg-eda026"><i class="Icon ico-down"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span>明道北京研发中心总部大牛逼请假单</span>
                                        </div>
                                    </td>
                                    <td class="width-140"><div class="inner_td"><span>2014-06-30  14:32</span></div></td>
                                    <td class="width-180"><div class="inner_td"><span>2013-11-01  ~  2014-11-01</span></div></td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span>行走江湖</span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span class="block">已导出17次 </span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span>已打印999次</span>
                                            <div class="MakeBtn clearfix">
                                                <a href="javascript:;" title="打印"><i class="Icon ico-print"></i></a>
                                                <a href="javascript:;" title="下载" class="bg-eda026"><i class="Icon ico-down"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span>明道北京研发中心总部大牛逼请假单</span>
                                        </div>
                                    </td>
                                    <td class="width-140"><div class="inner_td"><span>2014-06-30  14:32</span></div></td>
                                    <td class="width-180"><div class="inner_td"><span>2013-11-01  ~  2014-11-01</span></div></td>
                                    <td class="width-140">
                                        <div class="inner_td">
                                            <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            <span>行走江湖</span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span class="block">已导出345次 </span>
                                        </div>
                                    </td>
                                    <td class="width-100">
                                        <div class="inner_td">
                                            <span>已打印999次</span>
                                            <div class="MakeBtn clearfix">
                                                <a href="javascript:;" title="打印"><i class="Icon ico-print"></i></a>
                                                <a href="javascript:;" title="下载" class="bg-eda026"><i class="Icon ico-down"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
        <!--遮罩层begin-->
        <div class="mask" style="display:none;"><span class="loading"><img src="../img/loading.gif"/></span></div>
        <!--遮罩层over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        function Jscroll(){
            $('.jscroll').jScrollPane({
                'mouseWheelSpeed':100,
                "showArrows":false
            });
        }
        Jscroll();
    });
</script>
</body>
</html>