<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>统计权限</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="admin_header">
            <div class="top_nav top_nav_bg aligncenter font14">
                <a href="javascript:;">统计分析</a>
                <a href="javascript:;">统计记录</a>
                <a href="javascript:;" class="current">统计权限</a>
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出统计</a>
            </div>
        </div>
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--主要内容begin-->
        <div class="new_main">
            <!--list begin-->
            <div class="list_main">
                <div class="r_btn">
                    <a href="javascript:;" class="Icon ico-re"></a>
                    <a href="javascript:;" class="Icon ico-prev"></a>
                    <a href="javascript:;" class="Icon ico-next"></a>
                </div>
                <div class="list_table_box" style="height:410px;">
                    <div class="list_table_in" style="height:410px;top: 0;">
                        <table class="list_table">
                            <tbody>
                                <tr>
                                    <th class="width-155">
                                        <div class="inner_td clearfix nopadding">
                                            <span class="block form_logo floatleft aligncenter">
                                                <em class="icon-2"></em>
                                                <img src="../img/bg1.jpg">
                                            </span>
                                            <span class="marl10">采购资源源申请请</span>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="inner_td">
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                <!--提示框begin-->
                                                <div class="prompt_box" style="left:-85px;display: none">
                                                    <span class="Icon prompt_top"></span>
                                                    <div class="prompt_main">
                                                        <div class="prompt_title clearfix alignright">
                                                            <div class="floatleft">
                                                                 <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                                 <span>张睿</span>
                                                            </div>
                                                        </div>
                                                        <div class="marl10 color-6 mart10">
                                                            <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                                            <p>北京研发中心</p>
                                                            <p>产品经理</p>
                                                        </div>
                                                        <p><a href="#" class="Btn current marl10 mart5 btn-make">从列表中移除</a></p>
                                                    </div>
                                                    <span class="Icon prompt_bt"></span>
                                                </div>
                                                <!--提示框over-->
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="width-155">
                                        <div class="inner_td clearfix nopadding">
                                            <span class="block form_logo floatleft aligncenter">
                                                <em class="icon-1"></em>
                                                <img src="../img/bg0.jpg">
                                            </span>
                                            <span class="marl10">采购资源源申请请</span>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="inner_td" style="">
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="width-155">
                                        <div class="inner_td clearfix nopadding">
                                            <span class="block form_logo floatleft aligncenter">
                                                <em class="icon-0"></em>
                                                <img src="../img/bg3.jpg">
                                            </span>
                                            <span class="marl10">采购资源源申请请</span>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="inner_td" style="">
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                            </div>
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="width-155">
                                        <div class="inner_td clearfix nopadding">
                                            <span class="block form_logo floatleft aligncenter">
                                                <em class="icon-3"></em>
                                                <img src="../img/bg4.jpg">
                                            </span>
                                            <span class="marl10">采购资源源申请请</span>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="inner_td">
                                            <div class="relative inlineblock">
                                                <span class="UserImg inlineblock ie-css3"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--list over-->
        </div>
        <!--主要内容over-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">

</script>
</body>
</html>